In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
asthma_2020_data = pd.read_csv('../data/asthma_2020.csv')

In [3]:
asthma_2020_data = asthma_2020_data.drop([8,51,52]).reset_index(drop=True)

In [4]:
asthma_2020_data.columns

Index(['State or Territory', 'Number With Current Asthma',
       'Percent With Current Asthma (SE)'],
      dtype='object')

In [5]:
asthma_2020_data = asthma_2020_data.rename(columns={'State or Territory':'state', 'Number With Current Asthma':'asthma_2020', 'Percent With Current Asthma (SE)': 'perc_2020'})

In [6]:
asthma_2020_data.perc_2020 = asthma_2020_data.perc_2020.str[:-7]

In [7]:
asthma_2020_data

             state  asthma_2020 perc_2020
0          Alabama       341720       9.0
1           Alaska        48173       8.9
2          Arizona       550729       9.6
3         Arkansas       210340       9.1
4       California      2848466       9.3
5         Colorado       434782       9.6
6      Connecticut       299193      10.6
7         Delaware        83428      10.8
8          Florida      1276625       7.3
9          Georgia       736912       9.0
10          Hawaii        96890       8.8
11           Idaho       127406       9.4
12        Illinois       832244       8.5
13         Indiana       497539       9.6
14            Iowa       220085       9.1
15          Kansas       216312       9.8
16        Kentucky       395633      11.5
17       Louisiana       276711       7.8
18           Maine       115621      10.6
19        Maryland       420686       8.9
20   Massachusetts       592048      10.7
21        Michigan       859534      11.0
22       Minnesota       369238       8.5
23     Mississippi       201273       8.9
24        Missouri       441777       9.3
25         Montana        89552      10.6
26        Nebraska       114104       7.8
27          Nevada       230431       9.5
28   New Hampshire       127113      11.5
29      New Jersey       598649       8.7
30      New Mexico       162657      10.1
31        New York      1449094       9.5
32  North Carolina       645784       7.8
33    North Dakota        49883       8.6
34            Ohio       895631       9.9
35        Oklahoma       322759      10.8
36          Oregon       356958      10.6
37    Pennsylvania      1032246      10.2
38    Rhode Island       103190      12.1
39  South Carolina       385741       9.4
40    South Dakota        53990       8.1
41       Tennessee       552156      10.3
42           Texas      1617392       7.4
43            Utah       249663      10.8
44         Vermont        54781      10.8
45        Virginia       571162       8.6
46      Washington       579774       9.6
47   West Virginia       175011      12.4
48       Wisconsin       465109      10.2
49         Wyoming        44192      10.0

In [8]:
asthma_2019_data = pd.read_csv('../data/asthma_2019.csv')

In [9]:
asthma_2019_data = asthma_2019_data.drop([8,51,52]).reset_index(drop=True)

In [10]:
asthma_2019_data

,State or Territory,Number with Current Asthma,Percent with Current Asthma (SE)
0,Alabama,"360,965",9.5 (0.49)
1,Alaska,"54,239",9.9 (0.91)
2,Arizona,"544,394",9.7 (0.52)
3,Arkansas,"215,095",9.3 (0.58)
4,California,"2,405,797",7.8 (0.32)
5,Colorado,"434,603",9.7 (0.38)
6,Connecticut,"297,971",10.5 (0.46)
7,Delaware,"75,119",9.8 (0.71)
8,Florida,"1,292,568",7.4 (0.41)
9,Georgia,"620,794",7.7 (0.49)
10,Hawaii,"106,413",9.6 (0.47)
11,Idaho,"131,709",10.0 (0.62)
12,Illinois,"808,461",8.2 (0.44)
13,Indiana,"499,841",9.8 (0.40)
14,Iowa,"194,614",8.0 (0.34)
15,Kansas,"217,474",9.9 (0.36)
16,Kentucky,"326,678",9.5 (0.52)
17,Louisiana,"280,621",7.9 (0.46)
18,Maine,"127,896",11.8 (0.56)
19,Maryland,"424,051",9.0 (0.34)
20,Massachusetts,"570,379",10.3 (0.45)
21,Michigan,"867,732",11.1 (0.43)
22,Minnesota,"358,668",8.3 (0.27)
23,Mississippi,"225,468",9.9 (0.59)
24,Missouri,"479,037",10.1 (0.50)
25,Montana,"83,280",10.0 (0.46)
26,Nebraska,"116,768",8.0 (0.33)
27,Nevada,"224,825",9.4 (0.75)
28,New Hampshire,"119,305",10.8 (0.57)
29,New Jersey,—,—
30,New Mexico,"134,715",8.4 (0.49)
31,New York,"1,419,951",9.3 (0.35)
32,North Carolina,"681,689",8.3 (0.48)
33,North Dakota,"47,369",8.1 (0.56)
34,Ohio,"1,009,034",11.1 (0.46)
35,Oklahoma,"302,947",10.2 (0.48)
36,Oregon,"369,735",11.1 (0.50)
37,Pennsylvania,"1,104,033",10.9 (0.51)
38,Rhode Island,"94,817",11.2 (0.61)
39,South Carolina,"376,358",9.4 (0.50)
40,South Dakota,"56,510",8.5 (0.76)
41,Tennessee,"463,655",8.8 (0.48)
42,Texas,"1,532,311",7.1 (0.45)
43,Utah,"223,768",9.9 (0.36)
44,Vermont,"59,140",11.6 (0.62)
45,Virginia,"586,339",8.8 (0.38)
46,Washington,"590,642",9.9 (0.35)
47,West Virginia,"164,016",11.5 (0.59)
48,Wisconsin,"460,075",10.2 (0.59)
49,Wyoming,"41,968",9.5 (0.66)

In [11]:
asthma_2019_data = asthma_2019_data.rename(columns={'State or Territory' : 'state', 'Number with Current Asthma':'asthma_2019', 'Percent with Current Asthma (SE)':'perc_2019'})

In [12]:
asthma_2019_data.perc_2019 = asthma_2019_data.perc_2019.str[:-7]

In [13]:
asthma_2019_data

             state asthma_2019 perc_2019
0          Alabama     360,965       9.5
1           Alaska      54,239       9.9
2          Arizona     544,394       9.7
3         Arkansas     215,095       9.3
4       California   2,405,797       7.8
5         Colorado     434,603       9.7
6      Connecticut     297,971      10.5
7         Delaware      75,119       9.8
8          Florida   1,292,568       7.4
9          Georgia     620,794       7.7
10          Hawaii     106,413       9.6
11           Idaho     131,709      10.0
12        Illinois     808,461       8.2
13         Indiana     499,841       9.8
14            Iowa     194,614       8.0
15          Kansas     217,474       9.9
16        Kentucky     326,678       9.5
17       Louisiana     280,621       7.9
18           Maine     127,896      11.8
19        Maryland     424,051       9.0
20   Massachusetts     570,379      10.3
21        Michigan     867,732      11.1
22       Minnesota     358,668       8.3
23     Mississippi     225,468       9.9
24        Missouri     479,037      10.1
25         Montana      83,280      10.0
26        Nebraska     116,768       8.0
27          Nevada     224,825       9.4
28   New Hampshire     119,305      10.8
29      New Jersey           —
30      New Mexico     134,715       8.4
31        New York   1,419,951       9.3
32  North Carolina     681,689       8.3
33    North Dakota      47,369       8.1
34            Ohio   1,009,034      11.1
35        Oklahoma     302,947      10.2
36          Oregon     369,735      11.1
37    Pennsylvania   1,104,033      10.9
38    Rhode Island      94,817      11.2
39  South Carolina     376,358       9.4
40    South Dakota      56,510       8.5
41       Tennessee     463,655       8.8
42           Texas   1,532,311       7.1
43            Utah     223,768       9.9
44         Vermont      59,140      11.6
45        Virginia     586,339       8.8
46      Washington     590,642       9.9
47   West Virginia     164,016      11.5
48       Wisconsin     460,075      10.2
49         Wyoming      41,968       9.5

In [14]:
asthma_01 = pd.merge(left =asthma_2020_data, right= asthma_2019_data, on = 'state')

In [15]:
asthma_01

             state  asthma_2020 perc_2020 asthma_2019 perc_2019
0          Alabama       341720       9.0     360,965       9.5
1           Alaska        48173       8.9      54,239       9.9
2          Arizona       550729       9.6     544,394       9.7
3         Arkansas       210340       9.1     215,095       9.3
4       California      2848466       9.3   2,405,797       7.8
5         Colorado       434782       9.6     434,603       9.7
6      Connecticut       299193      10.6     297,971      10.5
7         Delaware        83428      10.8      75,119       9.8
8          Florida      1276625       7.3   1,292,568       7.4
9          Georgia       736912       9.0     620,794       7.7
10          Hawaii        96890       8.8     106,413       9.6
11           Idaho       127406       9.4     131,709      10.0
12        Illinois       832244       8.5     808,461       8.2
13         Indiana       497539       9.6     499,841       9.8
14            Iowa       220085       9.1     194,614       8.0
15          Kansas       216312       9.8     217,474       9.9
16        Kentucky       395633      11.5     326,678       9.5
17       Louisiana       276711       7.8     280,621       7.9
18           Maine       115621      10.6     127,896      11.8
19        Maryland       420686       8.9     424,051       9.0
20   Massachusetts       592048      10.7     570,379      10.3
21        Michigan       859534      11.0     867,732      11.1
22       Minnesota       369238       8.5     358,668       8.3
23     Mississippi       201273       8.9     225,468       9.9
24        Missouri       441777       9.3     479,037      10.1
25         Montana        89552      10.6      83,280      10.0
26        Nebraska       114104       7.8     116,768       8.0
27          Nevada       230431       9.5     224,825       9.4
28   New Hampshire       127113      11.5     119,305      10.8
29      New Jersey       598649       8.7           —
30      New Mexico       162657      10.1     134,715       8.4
31        New York      1449094       9.5   1,419,951       9.3
32  North Carolina       645784       7.8     681,689       8.3
33    North Dakota        49883       8.6      47,369       8.1
34            Ohio       895631       9.9   1,009,034      11.1
35        Oklahoma       322759      10.8     302,947      10.2
36          Oregon       356958      10.6     369,735      11.1
37    Pennsylvania      1032246      10.2   1,104,033      10.9
38    Rhode Island       103190      12.1      94,817      11.2
39  South Carolina       385741       9.4     376,358       9.4
40    South Dakota        53990       8.1      56,510       8.5
41       Tennessee       552156      10.3     463,655       8.8
42           Texas      1617392       7.4   1,532,311       7.1
43            Utah       249663      10.8     223,768       9.9
44         Vermont        54781      10.8      59,140      11.6
45        Virginia       571162       8.6     586,339       8.8
46      Washington       579774       9.6     590,642       9.9
47   West Virginia       175011      12.4     164,016      11.5
48       Wisconsin       465109      10.2     460,075      10.2
49         Wyoming        44192      10.0      41,968       9.5

In [16]:
asthma_2018_data = pd.read_csv('../data/asthma_2018.csv')

In [17]:
asthma_2018_data = asthma_2018_data.drop([8,51,52]).reset_index(drop=True)

In [18]:
asthma_2018_data.columns

Index(['State or Territory', 'Number with Current Asthma',
       'Percent with Current Asthma (SE)'],
      dtype='object')

In [19]:
asthma_2018_data = asthma_2018_data.rename(columns={'State or Territory':'state','Number with Current Asthma':'asthma_2018','Percent with Current Asthma (SE)':'perc_2018'})

In [20]:
asthma_2018_data.perc_2018 = asthma_2018_data.perc_2018.str[:-7]

In [21]:
asthma_2018_data

             state  asthma_2018 perc_2018
0          Alabama       394634      10.5
1           Alaska        50685       9.2
2          Arizona       545104      10.0
3         Arkansas       225853       9.8
4       California      2607598       8.5
5         Colorado       399357       9.1
6      Connecticut       290278      10.3
7         Delaware        77035      10.1
8          Florida      1495632       8.7
9          Georgia       714569       8.9
10          Hawaii       104368       9.3
11           Idaho       111954       8.6
12        Illinois       860007       8.7
13         Indiana       509651      10.0
14            Iowa       190960       7.9
15          Kansas       214698       9.8
16        Kentucky       395345      11.5
17       Louisiana       316423       8.9
18           Maine       132126      12.3
19        Maryland       439909       9.3
20   Massachusetts       558435      10.2
21        Michigan       872519      11.2
22       Minnesota       357232       8.3
23     Mississippi       218223       9.7
24        Missouri       444334       9.4
25         Montana        82660      10.0
26        Nebraska       128793       8.9
27          Nevada       186787       8.0
28   New Hampshire       128307      11.8
29      New Jersey       593242       8.4
30      New Mexico       157177       9.9
31        New York      1578011      10.1
32  North Carolina       757790       9.4
33    North Dakota        46996       8.2
34            Ohio       854186       9.4
35        Oklahoma       307581      10.3
36          Oregon       383340      11.6
37    Pennsylvania      1012588      10.0
38    Rhode Island       101251      11.9
39  South Carolina       360353       9.1
40    South Dakota        51652       7.9
41       Tennessee       513084       9.8
42           Texas      1572815       7.4
43            Utah       206360       9.3
44         Vermont        60216      12.0
45        Virginia       563510       8.5
46      Washington       558951       9.6
47   West Virginia       175368      12.3
48       Wisconsin       408318       9.0
49         Wyoming        38099       8.7

In [22]:
asthma_02 = pd.merge(left =asthma_01, right= asthma_2018_data, on = 'state')

In [23]:
asthma_02

,state,asthma_2020,perc_2020,asthma_2019,perc_2019,asthma_2018,perc_2018
0,Alabama,341720,9.0,"360,965",9.5,394634,10.5
1,Alaska,48173,8.9,"54,239",9.9,50685,9.2
2,Arizona,550729,9.6,"544,394",9.7,545104,10.0
3,Arkansas,210340,9.1,"215,095",9.3,225853,9.8
4,California,2848466,9.3,"2,405,797",7.8,2607598,8.5
5,Colorado,434782,9.6,"434,603",9.7,399357,9.1
6,Connecticut,299193,10.6,"297,971",10.5,290278,10.3
7,Delaware,83428,10.8,"75,119",9.8,77035,10.1
8,Florida,1276625,7.3,"1,292,568",7.4,1495632,8.7
9,Georgia,736912,9.0,"620,794",7.7,714569,8.9
10,Hawaii,96890,8.8,"106,413",9.6,104368,9.3
11,Idaho,127406,9.4,"131,709",10.0,111954,8.6
12,Illinois,832244,8.5,"808,461",8.2,860007,8.7
13,Indiana,497539,9.6,"499,841",9.8,509651,10.0
14,Iowa,220085,9.1,"194,614",8.0,190960,7.9
15,Kansas,216312,9.8,"217,474",9.9,214698,9.8
16,Kentucky,395633,11.5,"326,678",9.5,395345,11.5
17,Louisiana,276711,7.8,"280,621",7.9,316423,8.9
18,Maine,115621,10.6,"127,896",11.8,132126,12.3
19,Maryland,420686,8.9,"424,051",9.0,439909,9.3
20,Massachusetts,592048,10.7,"570,379",10.3,558435,10.2
21,Michigan,859534,11.0,"867,732",11.1,872519,11.2
22,Minnesota,369238,8.5,"358,668",8.3,357232,8.3
23,Mississippi,201273,8.9,"225,468",9.9,218223,9.7
24,Missouri,441777,9.3,"479,037",10.1,444334,9.4
25,Montana,89552,10.6,"83,280",10.0,82660,10.0
26,Nebraska,114104,7.8,"116,768",8.0,128793,8.9
27,Nevada,230431,9.5,"224,825",9.4,186787,8.0
28,New Hampshire,127113,11.5,"119,305",10.8,128307,11.8
29,New Jersey,598649,8.7,—,,593242,8.4
30,New Mexico,162657,10.1,"134,715",8.4,157177,9.9
31,New York,1449094,9.5,"1,419,951",9.3,1578011,10.1
32,North Carolina,645784,7.8,"681,689",8.3,757790,9.4
33,North Dakota,49883,8.6,"47,369",8.1,46996,8.2
34,Ohio,895631,9.9,"1,009,034",11.1,854186,9.4
35,Oklahoma,322759,10.8,"302,947",10.2,307581,10.3
36,Oregon,356958,10.6,"369,735",11.1,383340,11.6
37,Pennsylvania,1032246,10.2,"1,104,033",10.9,1012588,10.0
38,Rhode Island,103190,12.1,"94,817",11.2,101251,11.9
39,South Carolina,385741,9.4,"376,358",9.4,360353,9.1
40,South Dakota,53990,8.1,"56,510",8.5,51652,7.9
41,Tennessee,552156,10.3,"463,655",8.8,513084,9.8
42,Texas,1617392,7.4,"1,532,311",7.1,1572815,7.4
43,Utah,249663,10.8,"223,768",9.9,206360,9.3
44,Vermont,54781,10.8,"59,140",11.6,60216,12.0
45,Virginia,571162,8.6,"586,339",8.8,563510,8.5
46,Washington,579774,9.6,"590,642",9.9,558951,9.6
47,West Virginia,175011,12.4,"164,016",11.5,175368,12.3
48,Wisconsin,465109,10.2,"460,075",10.2,408318,9.0
49,Wyoming,44192,10.0,"41,968",9.5,38099,8.7

In [24]:
asthma_2017_data = pd.read_csv('../data/asthma_2017.csv')

In [25]:
asthma_2017_data = asthma_2017_data.drop([8,51,52]).reset_index(drop=True)

In [26]:
asthma_2017_data.columns

Index(['State or Territory', 'Number with Current Asthma',
       'Percent with Current Asthma'],
      dtype='object')

In [27]:
asthma_2017_data = asthma_2017_data.rename(columns={'State or Territory':'state','Number with Current Asthma':'asthma_2017','Percent with Current Asthma':'perc_2017'})

In [28]:
asthma_2017_data

             state  asthma_2017  perc_2017
0          Alabama       409623       10.9
1           Alaska        46863        8.4
2          Arizona       529155        9.8
3         Arkansas       219001        9.6
4       California      2398304        7.9
5         Colorado       404012        9.3
6      Connecticut       299336       10.7
7         Delaware        79827       10.6
8          Florida      1258262        7.5
9          Georgia       663053        8.4
10          Hawaii       109177        9.8
11           Idaho       113842        9.0
12        Illinois       808252        8.2
13         Indiana       509205       10.0
14            Iowa       223269        9.3
15          Kansas       199738        9.1
16        Kentucky       367763       10.7
17       Louisiana       319238        9.0
18           Maine       119995       11.2
19        Maryland       440338        9.4
20   Massachusetts       621312       11.5
21        Michigan       837016       10.8
22       Minnesota       310955        7.3
23     Mississippi       187772        8.3
24        Missouri       442086        9.4
25         Montana        74843        9.1
26        Nebraska       118181        8.2
27          Nevada       240247       10.4
28   New Hampshire       142205       13.2
29      New Jersey       600483        8.6
30      New Mexico       165265       10.5
31        New York      1426161        9.2
32  North Carolina       730767        9.2
33    North Dakota        50524        8.6
34            Ohio       888520        9.9
35        Oklahoma       285215        9.6
36          Oregon       353411       10.9
37    Pennsylvania      1021687       10.1
38    Rhode Island       103853       12.3
39  South Carolina       361086        9.2
40    South Dakota        48077        7.3
41       Tennessee       517735       10.0
42           Texas      1543064        7.3
43            Utah       192523        8.9
44         Vermont        59012       11.8
45        Virginia       581200        8.9
46      Washington       603962       10.5
47   West Virginia       182240       12.7
48       Wisconsin       428991        9.5
49         Wyoming        40805        9.1

In [29]:
asthma_03 = pd.merge(left =asthma_02, right= asthma_2017_data, on = 'state')

In [30]:
asthma_03

,state,asthma_2020,perc_2020,asthma_2019,perc_2019,asthma_2018,perc_2018,asthma_2017,perc_2017
0,Alabama,341720,9.0,"360,965",9.5,394634,10.5,409623,10.9
1,Alaska,48173,8.9,"54,239",9.9,50685,9.2,46863,8.4
2,Arizona,550729,9.6,"544,394",9.7,545104,10.0,529155,9.8
3,Arkansas,210340,9.1,"215,095",9.3,225853,9.8,219001,9.6
4,California,2848466,9.3,"2,405,797",7.8,2607598,8.5,2398304,7.9
5,Colorado,434782,9.6,"434,603",9.7,399357,9.1,404012,9.3
6,Connecticut,299193,10.6,"297,971",10.5,290278,10.3,299336,10.7
7,Delaware,83428,10.8,"75,119",9.8,77035,10.1,79827,10.6
8,Florida,1276625,7.3,"1,292,568",7.4,1495632,8.7,1258262,7.5
9,Georgia,736912,9.0,"620,794",7.7,714569,8.9,663053,8.4
10,Hawaii,96890,8.8,"106,413",9.6,104368,9.3,109177,9.8
11,Idaho,127406,9.4,"131,709",10.0,111954,8.6,113842,9.0
12,Illinois,832244,8.5,"808,461",8.2,860007,8.7,808252,8.2
13,Indiana,497539,9.6,"499,841",9.8,509651,10.0,509205,10.0
14,Iowa,220085,9.1,"194,614",8.0,190960,7.9,223269,9.3
15,Kansas,216312,9.8,"217,474",9.9,214698,9.8,199738,9.1
16,Kentucky,395633,11.5,"326,678",9.5,395345,11.5,367763,10.7
17,Louisiana,276711,7.8,"280,621",7.9,316423,8.9,319238,9.0
18,Maine,115621,10.6,"127,896",11.8,132126,12.3,119995,11.2
19,Maryland,420686,8.9,"424,051",9.0,439909,9.3,440338,9.4
20,Massachusetts,592048,10.7,"570,379",10.3,558435,10.2,621312,11.5
21,Michigan,859534,11.0,"867,732",11.1,872519,11.2,837016,10.8
22,Minnesota,369238,8.5,"358,668",8.3,357232,8.3,310955,7.3
23,Mississippi,201273,8.9,"225,468",9.9,218223,9.7,187772,8.3
24,Missouri,441777,9.3,"479,037",10.1,444334,9.4,442086,9.4
25,Montana,89552,10.6,"83,280",10.0,82660,10.0,74843,9.1
26,Nebraska,114104,7.8,"116,768",8.0,128793,8.9,118181,8.2
27,Nevada,230431,9.5,"224,825",9.4,186787,8.0,240247,10.4
28,New Hampshire,127113,11.5,"119,305",10.8,128307,11.8,142205,13.2
29,New Jersey,598649,8.7,—,,593242,8.4,600483,8.6
30,New Mexico,162657,10.1,"134,715",8.4,157177,9.9,165265,10.5
31,New York,1449094,9.5,"1,419,951",9.3,1578011,10.1,1426161,9.2
32,North Carolina,645784,7.8,"681,689",8.3,757790,9.4,730767,9.2
33,North Dakota,49883,8.6,"47,369",8.1,46996,8.2,50524,8.6
34,Ohio,895631,9.9,"1,009,034",11.1,854186,9.4,888520,9.9
35,Oklahoma,322759,10.8,"302,947",10.2,307581,10.3,285215,9.6
36,Oregon,356958,10.6,"369,735",11.1,383340,11.6,353411,10.9
37,Pennsylvania,1032246,10.2,"1,104,033",10.9,1012588,10.0,1021687,10.1
38,Rhode Island,103190,12.1,"94,817",11.2,101251,11.9,103853,12.3
39,South Carolina,385741,9.4,"376,358",9.4,360353,9.1,361086,9.2
40,South Dakota,53990,8.1,"56,510",8.5,51652,7.9,48077,7.3
41,Tennessee,552156,10.3,"463,655",8.8,513084,9.8,517735,10.0
42,Texas,1617392,7.4,"1,532,311",7.1,1572815,7.4,1543064,7.3
43,Utah,249663,10.8,"223,768",9.9,206360,9.3,192523,8.9
44,Vermont,54781,10.8,"59,140",11.6,60216,12.0,59012,11.8
45,Virginia,571162,8.6,"586,339",8.8,563510,8.5,581200,8.9
46,Washington,579774,9.6,"590,642",9.9,558951,9.6,603962,10.5
47,West Virginia,175011,12.4,"164,016",11.5,175368,12.3,182240,12.7
48,Wisconsin,465109,10.2,"460,075",10.2,408318,9.0,428991,9.5
49,Wyoming,44192,10.0,"41,968",9.5,38099,8.7,40805,9.1

In [31]:
asthma_2016_data = pd.read_csv('../data/asthma_2016.csv')

In [32]:
asthma_2016_data = asthma_2016_data.drop([8,51,52]).reset_index(drop=True)

In [33]:
asthma_2016_data.columns

Index(['State or Territory', 'Number with Current Asthma',
       'Percent with Current Asthma'],
      dtype='object')

In [34]:
asthma_2016_data = asthma_2016_data.rename(columns={'State or Territory':'state','Number with Current Asthma':'asthma_2016','Percent with Current Asthma':'perc_2016'})

In [35]:
asthma_2016_data

             state  asthma_2016  perc_2016
0          Alabama       365041        9.7
1           Alaska        48398        8.8
2          Arizona       491794        9.4
3         Arkansas       193863        8.5
4       California      2366008        7.8
5         Colorado       374598        8.8
6      Connecticut       295601       10.5
7         Delaware        63617        8.5
8          Florida      1109768        6.7
9          Georgia       666285        8.5
10          Hawaii       120293       10.7
11           Idaho       115109        9.3
12        Illinois       879704        8.9
13         Indiana       514349       10.2
14            Iowa       187872        7.8
15          Kansas       193078        8.8
16        Kentucky       394686       11.6
17       Louisiana       297349        8.4
18           Maine       130992       12.2
19        Maryland       439666        9.4
20   Massachusetts       560739       10.3
21        Michigan       841111       10.9
22       Minnesota       321439        7.6
23     Mississippi       181044        8.0
24        Missouri       463150        9.9
25         Montana        69403        8.5
26        Nebraska       118932        8.3
27          Nevada       179986        7.9
28   New Hampshire       121566       11.4
29      New Jersey       573506        8.2
30      New Mexico       185678       11.8
31        New York      1474062        9.5
32  North Carolina       630864        8.0
33    North Dakota        53028        9.0
34            Ohio       873284        9.7
35        Oklahoma       293910       10.0
36          Oregon       335445       10.5
37    Pennsylvania      1070258       10.6
38    Rhode Island        90375       10.7
39  South Carolina       340518        8.8
40    South Dakota        40253        6.2
41       Tennessee       559423       10.9
42           Texas      1584264        7.6
43            Utah       175360        8.3
44         Vermont        51211       10.2
45        Virginia       560419        8.6
46      Washington       538758        9.6
47   West Virginia       171816       11.8
48       Wisconsin       381108        8.5
49         Wyoming        42717        9.5
50  Virgin Islands         5011        6.3

In [36]:
asthma_04 = pd.merge(left =asthma_03, right= asthma_2016_data, on = 'state')

In [37]:
asthma_04

,state,asthma_2020,perc_2020,asthma_2019,perc_2019,asthma_2018,perc_2018,asthma_2017,perc_2017,asthma_2016,perc_2016
0,Alabama,341720,9.0,"360,965",9.5,394634,10.5,409623,10.9,365041,9.7
1,Alaska,48173,8.9,"54,239",9.9,50685,9.2,46863,8.4,48398,8.8
2,Arizona,550729,9.6,"544,394",9.7,545104,10.0,529155,9.8,491794,9.4
3,Arkansas,210340,9.1,"215,095",9.3,225853,9.8,219001,9.6,193863,8.5
4,California,2848466,9.3,"2,405,797",7.8,2607598,8.5,2398304,7.9,2366008,7.8
5,Colorado,434782,9.6,"434,603",9.7,399357,9.1,404012,9.3,374598,8.8
6,Connecticut,299193,10.6,"297,971",10.5,290278,10.3,299336,10.7,295601,10.5
7,Delaware,83428,10.8,"75,119",9.8,77035,10.1,79827,10.6,63617,8.5
8,Florida,1276625,7.3,"1,292,568",7.4,1495632,8.7,1258262,7.5,1109768,6.7
9,Georgia,736912,9.0,"620,794",7.7,714569,8.9,663053,8.4,666285,8.5
10,Hawaii,96890,8.8,"106,413",9.6,104368,9.3,109177,9.8,120293,10.7
11,Idaho,127406,9.4,"131,709",10.0,111954,8.6,113842,9.0,115109,9.3
12,Illinois,832244,8.5,"808,461",8.2,860007,8.7,808252,8.2,879704,8.9
13,Indiana,497539,9.6,"499,841",9.8,509651,10.0,509205,10.0,514349,10.2
14,Iowa,220085,9.1,"194,614",8.0,190960,7.9,223269,9.3,187872,7.8
15,Kansas,216312,9.8,"217,474",9.9,214698,9.8,199738,9.1,193078,8.8
16,Kentucky,395633,11.5,"326,678",9.5,395345,11.5,367763,10.7,394686,11.6
17,Louisiana,276711,7.8,"280,621",7.9,316423,8.9,319238,9.0,297349,8.4
18,Maine,115621,10.6,"127,896",11.8,132126,12.3,119995,11.2,130992,12.2
19,Maryland,420686,8.9,"424,051",9.0,439909,9.3,440338,9.4,439666,9.4
20,Massachusetts,592048,10.7,"570,379",10.3,558435,10.2,621312,11.5,560739,10.3
21,Michigan,859534,11.0,"867,732",11.1,872519,11.2,837016,10.8,841111,10.9
22,Minnesota,369238,8.5,"358,668",8.3,357232,8.3,310955,7.3,321439,7.6
23,Mississippi,201273,8.9,"225,468",9.9,218223,9.7,187772,8.3,181044,8.0
24,Missouri,441777,9.3,"479,037",10.1,444334,9.4,442086,9.4,463150,9.9
25,Montana,89552,10.6,"83,280",10.0,82660,10.0,74843,9.1,69403,8.5
26,Nebraska,114104,7.8,"116,768",8.0,128793,8.9,118181,8.2,118932,8.3
27,Nevada,230431,9.5,"224,825",9.4,186787,8.0,240247,10.4,179986,7.9
28,New Hampshire,127113,11.5,"119,305",10.8,128307,11.8,142205,13.2,121566,11.4
29,New Jersey,598649,8.7,—,,593242,8.4,600483,8.6,573506,8.2
30,New Mexico,162657,10.1,"134,715",8.4,157177,9.9,165265,10.5,185678,11.8
31,New York,1449094,9.5,"1,419,951",9.3,1578011,10.1,1426161,9.2,1474062,9.5
32,North Carolina,645784,7.8,"681,689",8.3,757790,9.4,730767,9.2,630864,8.0
33,North Dakota,49883,8.6,"47,369",8.1,46996,8.2,50524,8.6,53028,9.0
34,Ohio,895631,9.9,"1,009,034",11.1,854186,9.4,888520,9.9,873284,9.7
35,Oklahoma,322759,10.8,"302,947",10.2,307581,10.3,285215,9.6,293910,10.0
36,Oregon,356958,10.6,"369,735",11.1,383340,11.6,353411,10.9,335445,10.5
37,Pennsylvania,1032246,10.2,"1,104,033",10.9,1012588,10.0,1021687,10.1,1070258,10.6
38,Rhode Island,103190,12.1,"94,817",11.2,101251,11.9,103853,12.3,90375,10.7
39,South Carolina,385741,9.4,"376,358",9.4,360353,9.1,361086,9.2,340518,8.8
40,South Dakota,53990,8.1,"56,510",8.5,51652,7.9,48077,7.3,40253,6.2
41,Tennessee,552156,10.3,"463,655",8.8,513084,9.8,517735,10.0,559423,10.9
42,Texas,1617392,7.4,"1,532,311",7.1,1572815,7.4,1543064,7.3,1584264,7.6
43,Utah,249663,10.8,"223,768",9.9,206360,9.3,192523,8.9,175360,8.3
44,Vermont,54781,10.8,"59,140",11.6,60216,12.0,59012,11.8,51211,10.2
45,Virginia,571162,8.6,"586,339",8.8,563510,8.5,581200,8.9,560419,8.6
46,Washington,579774,9.6,"590,642",9.9,558951,9.6,603962,10.5,538758,9.6
47,West Virginia,175011,12.4,"164,016",11.5,175368,12.3,182240,12.7,171816,11.8
48,Wisconsin,465109,10.2,"460,075",10.2,408318,9.0,428991,9.5,381108,8.5
49,Wyoming,44192,10.0,"41,968",9.5,38099,8.7,40805,9.1,42717,9.5

In [38]:
asthma_2015_data = pd.read_csv('../data/asthma_2015.csv')

In [39]:
asthma_2015_data = asthma_2015_data.drop([8,51,52]).reset_index(drop=True)

In [40]:
asthma_2015_data.columns

Index(['State or Territory', 'Number with Current Asthma',
       'Percent with Current Asthma'],
      dtype='object')

In [41]:
asthma_2015_data = asthma_2015_data.rename(columns={'State or Territory':'state','Number with Current Asthma':'asthma_2015','Percent with Current Asthma':'perc_2015'})

In [42]:
asthma_2015_data

             state  asthma_2015  perc_2015
0          Alabama       370128        9.9
1           Alaska        50792        9.2
2          Arizona       479791        9.3
3         Arkansas       226691       10.1
4       California      2290491        7.7
5         Colorado       375709        9.0
6      Connecticut       294997       10.5
7         Delaware        67950        9.2
8          Florida      1197036        7.4
9          Georgia       708933        9.2
10          Hawaii       111142       10.0
11           Idaho       110735        9.1
12        Illinois       828784        8.4
13         Indiana       512557       10.2
14            Iowa       181072        7.6
15          Kansas       188514        8.7
16        Kentucky       403499       11.9
17       Louisiana       288759        8.2
18           Maine       120034       11.2
19        Maryland       408914        8.8
20   Massachusetts       547096       10.2
21        Michigan       781517       10.2
22       Minnesota       310116        7.4
23     Mississippi       175845        7.8
24        Missouri       448562        9.6
25         Montana        71210        8.9
26        Nebraska       101854        7.2
27          Nevada       179450        8.1
28   New Hampshire       107224       10.1
29      New Jersey       501572        7.2
30      New Mexico       155818        9.9
31        New York      1532508        9.9
32  North Carolina       633683        8.2
33    North Dakota        52567        9.0
34            Ohio       896185       10.0
35        Oklahoma       279781        9.5
36          Oregon       351437       11.2
37    Pennsylvania      1020306       10.2
38    Rhode Island        91992       11.0
39  South Carolina       309943        8.2
40    South Dakota        54406        8.4
41       Tennessee       455946        9.0
42           Texas      1528177        7.6
43            Utah       187377        9.0
44         Vermont        55265       11.0
45        Virginia       513676        7.9
46      Washington       516400        9.4
47   West Virginia       158528       10.8
48       Wisconsin       426296        9.5
49         Wyoming        35482        8.0

In [43]:
asthma_05 = pd.merge(left =asthma_04, right= asthma_2015_data, on = 'state')

In [44]:
asthma_05

,state,asthma_2020,perc_2020,asthma_2019,perc_2019,asthma_2018,perc_2018,asthma_2017,perc_2017,asthma_2016,perc_2016,asthma_2015,perc_2015
0,Alabama,341720,9.0,"360,965",9.5,394634,10.5,409623,10.9,365041,9.7,370128,9.9
1,Alaska,48173,8.9,"54,239",9.9,50685,9.2,46863,8.4,48398,8.8,50792,9.2
2,Arizona,550729,9.6,"544,394",9.7,545104,10.0,529155,9.8,491794,9.4,479791,9.3
3,Arkansas,210340,9.1,"215,095",9.3,225853,9.8,219001,9.6,193863,8.5,226691,10.1
4,California,2848466,9.3,"2,405,797",7.8,2607598,8.5,2398304,7.9,2366008,7.8,2290491,7.7
5,Colorado,434782,9.6,"434,603",9.7,399357,9.1,404012,9.3,374598,8.8,375709,9.0
6,Connecticut,299193,10.6,"297,971",10.5,290278,10.3,299336,10.7,295601,10.5,294997,10.5
7,Delaware,83428,10.8,"75,119",9.8,77035,10.1,79827,10.6,63617,8.5,67950,9.2
8,Florida,1276625,7.3,"1,292,568",7.4,1495632,8.7,1258262,7.5,1109768,6.7,1197036,7.4
9,Georgia,736912,9.0,"620,794",7.7,714569,8.9,663053,8.4,666285,8.5,708933,9.2
10,Hawaii,96890,8.8,"106,413",9.6,104368,9.3,109177,9.8,120293,10.7,111142,10.0
11,Idaho,127406,9.4,"131,709",10.0,111954,8.6,113842,9.0,115109,9.3,110735,9.1
12,Illinois,832244,8.5,"808,461",8.2,860007,8.7,808252,8.2,879704,8.9,828784,8.4
13,Indiana,497539,9.6,"499,841",9.8,509651,10.0,509205,10.0,514349,10.2,512557,10.2
14,Iowa,220085,9.1,"194,614",8.0,190960,7.9,223269,9.3,187872,7.8,181072,7.6
15,Kansas,216312,9.8,"217,474",9.9,214698,9.8,199738,9.1,193078,8.8,188514,8.7
16,Kentucky,395633,11.5,"326,678",9.5,395345,11.5,367763,10.7,394686,11.6,403499,11.9
17,Louisiana,276711,7.8,"280,621",7.9,316423,8.9,319238,9.0,297349,8.4,288759,8.2
18,Maine,115621,10.6,"127,896",11.8,132126,12.3,119995,11.2,130992,12.2,120034,11.2
19,Maryland,420686,8.9,"424,051",9.0,439909,9.3,440338,9.4,439666,9.4,408914,8.8
20,Massachusetts,592048,10.7,"570,379",10.3,558435,10.2,621312,11.5,560739,10.3,547096,10.2
21,Michigan,859534,11.0,"867,732",11.1,872519,11.2,837016,10.8,841111,10.9,781517,10.2
22,Minnesota,369238,8.5,"358,668",8.3,357232,8.3,310955,7.3,321439,7.6,310116,7.4
23,Mississippi,201273,8.9,"225,468",9.9,218223,9.7,187772,8.3,181044,8.0,175845,7.8
24,Missouri,441777,9.3,"479,037",10.1,444334,9.4,442086,9.4,463150,9.9,448562,9.6
25,Montana,89552,10.6,"83,280",10.0,82660,10.0,74843,9.1,69403,8.5,71210,8.9
26,Nebraska,114104,7.8,"116,768",8.0,128793,8.9,118181,8.2,118932,8.3,101854,7.2
27,Nevada,230431,9.5,"224,825",9.4,186787,8.0,240247,10.4,179986,7.9,179450,8.1
28,New Hampshire,127113,11.5,"119,305",10.8,128307,11.8,142205,13.2,121566,11.4,107224,10.1
29,New Jersey,598649,8.7,—,,593242,8.4,600483,8.6,573506,8.2,501572,7.2
30,New Mexico,162657,10.1,"134,715",8.4,157177,9.9,165265,10.5,185678,11.8,155818,9.9
31,New York,1449094,9.5,"1,419,951",9.3,1578011,10.1,1426161,9.2,1474062,9.5,1532508,9.9
32,North Carolina,645784,7.8,"681,689",8.3,757790,9.4,730767,9.2,630864,8.0,633683,8.2
33,North Dakota,49883,8.6,"47,369",8.1,46996,8.2,50524,8.6,53028,9.0,52567,9.0
34,Ohio,895631,9.9,"1,009,034",11.1,854186,9.4,888520,9.9,873284,9.7,896185,10.0
35,Oklahoma,322759,10.8,"302,947",10.2,307581,10.3,285215,9.6,293910,10.0,279781,9.5
36,Oregon,356958,10.6,"369,735",11.1,383340,11.6,353411,10.9,335445,10.5,351437,11.2
37,Pennsylvania,1032246,10.2,"1,104,033",10.9,1012588,10.0,1021687,10.1,1070258,10.6,1020306,10.2
38,Rhode Island,103190,12.1,"94,817",11.2,101251,11.9,103853,12.3,90375,10.7,91992,11.0
39,South Carolina,385741,9.4,"376,358",9.4,360353,9.1,361086,9.2,340518,8.8,309943,8.2
40,South Dakota,53990,8.1,"56,510",8.5,51652,7.9,48077,7.3,40253,6.2,54406,8.4
41,Tennessee,552156,10.3,"463,655",8.8,513084,9.8,517735,10.0,559423,10.9,455946,9.0
42,Texas,1617392,7.4,"1,532,311",7.1,1572815,7.4,1543064,7.3,1584264,7.6,1528177,7.6
43,Utah,249663,10.8,"223,768",9.9,206360,9.3,192523,8.9,175360,8.3,187377,9.0
44,Vermont,54781,10.8,"59,140",11.6,60216,12.0,59012,11.8,51211,10.2,55265,11.0
45,Virginia,571162,8.6,"586,339",8.8,563510,8.5,581200,8.9,560419,8.6,513676,7.9
46,Washington,579774,9.6,"590,642",9.9,558951,9.6,603962,10.5,538758,9.6,516400,9.4
47,West Virginia,175011,12.4,"164,016",11.5,175368,12.3,182240,12.7,171816,11.8,158528,10.8
48,Wisconsin,465109,10.2,"460,075",10.2,408318,9.0,428991,9.5,381108,8.5,426296,9.5
49,Wyoming,44192,10.0,"41,968",9.5,38099,8.7,40805,9.1,42717,9.5,35482,8.0

In [45]:
asthma_2014_data = pd.read_csv('../data/asthma_2014.csv')

In [46]:
asthma_2014_data = asthma_2014_data.drop([8,51,52]).reset_index(drop=True)

In [47]:
asthma_2014_data.columns

Index(['State or Territory', 'Number with Current Asthma',
       'Percent with Current Asthma'],
      dtype='object')

In [48]:
asthma_2014_data = asthma_2014_data.rename(columns={'State or Territory':'state','Number with Current Asthma':'asthma_2014','Percent with Current Asthma':'perc_2014'})

In [49]:
asthma_2014_data

             state  asthma_2014  perc_2014
0          Alabama       353847        9.5
1           Alaska        44865        8.1
2          Arizona       484115        9.6
3         Arkansas       197478        8.8
4       California      2279568        7.8
5         Colorado       342994        8.4
6      Connecticut       257311        9.2
7         Delaware        63855        8.8
8          Florida      1268162        8.0
9          Georgia       626931        8.3
10          Hawaii       102093        9.2
11           Idaho       103201        8.6
12        Illinois       898521        9.1
13         Indiana       532909       10.7
14            Iowa       201266        8.5
15          Kansas       189350        8.7
16        Kentucky       402690       11.9
17       Louisiana       270261        7.7
18           Maine       122881       11.6
19        Maryland       393571        8.5
20   Massachusetts       636176       12.0
21        Michigan       831656       10.9
22       Minnesota       350818        8.4
23     Mississippi       166117        7.4
24        Missouri       450530        9.7
25         Montana        76683        9.6
26        Nebraska       108805        7.7
27          Nevada       172343        8.1
28   New Hampshire       107371       10.2
29      New Jersey       570238        8.3
30      New Mexico       154861        9.9
31        New York      1642598       10.7
32  North Carolina       592279        7.8
33    North Dakota        50533        8.7
34            Ohio       957711       10.8
35        Oklahoma       284303        9.7
36          Oregon       314501       10.2
37    Pennsylvania       979527        9.8
38    Rhode Island        89462       10.8
39  South Carolina       309409        8.3
40    South Dakota        48213        7.5
41       Tennessee       448189        8.9
42           Texas      1312573        6.7
43            Utah       178514        8.7
44         Vermont        56644       11.3
45        Virginia       556765        8.6
46      Washington       500993        9.3
47   West Virginia       161534       11.0
48       Wisconsin       456134       10.3
49         Wyoming        37351        8.3

In [50]:
asthma_06 = pd.merge(left =asthma_05, right= asthma_2014_data, on = 'state')

In [51]:
asthma_06

,state,asthma_2020,perc_2020,asthma_2019,perc_2019,asthma_2018,perc_2018,asthma_2017,perc_2017,asthma_2016,perc_2016,asthma_2015,perc_2015,asthma_2014,perc_2014
0,Alabama,341720,9.0,"360,965",9.5,394634,10.5,409623,10.9,365041,9.7,370128,9.9,353847,9.5
1,Alaska,48173,8.9,"54,239",9.9,50685,9.2,46863,8.4,48398,8.8,50792,9.2,44865,8.1
2,Arizona,550729,9.6,"544,394",9.7,545104,10.0,529155,9.8,491794,9.4,479791,9.3,484115,9.6
3,Arkansas,210340,9.1,"215,095",9.3,225853,9.8,219001,9.6,193863,8.5,226691,10.1,197478,8.8
4,California,2848466,9.3,"2,405,797",7.8,2607598,8.5,2398304,7.9,2366008,7.8,2290491,7.7,2279568,7.8
5,Colorado,434782,9.6,"434,603",9.7,399357,9.1,404012,9.3,374598,8.8,375709,9.0,342994,8.4
6,Connecticut,299193,10.6,"297,971",10.5,290278,10.3,299336,10.7,295601,10.5,294997,10.5,257311,9.2
7,Delaware,83428,10.8,"75,119",9.8,77035,10.1,79827,10.6,63617,8.5,67950,9.2,63855,8.8
8,Florida,1276625,7.3,"1,292,568",7.4,1495632,8.7,1258262,7.5,1109768,6.7,1197036,7.4,1268162,8.0
9,Georgia,736912,9.0,"620,794",7.7,714569,8.9,663053,8.4,666285,8.5,708933,9.2,626931,8.3
10,Hawaii,96890,8.8,"106,413",9.6,104368,9.3,109177,9.8,120293,10.7,111142,10.0,102093,9.2
11,Idaho,127406,9.4,"131,709",10.0,111954,8.6,113842,9.0,115109,9.3,110735,9.1,103201,8.6
12,Illinois,832244,8.5,"808,461",8.2,860007,8.7,808252,8.2,879704,8.9,828784,8.4,898521,9.1
13,Indiana,497539,9.6,"499,841",9.8,509651,10.0,509205,10.0,514349,10.2,512557,10.2,532909,10.7
14,Iowa,220085,9.1,"194,614",8.0,190960,7.9,223269,9.3,187872,7.8,181072,7.6,201266,8.5
15,Kansas,216312,9.8,"217,474",9.9,214698,9.8,199738,9.1,193078,8.8,188514,8.7,189350,8.7
16,Kentucky,395633,11.5,"326,678",9.5,395345,11.5,367763,10.7,394686,11.6,403499,11.9,402690,11.9
17,Louisiana,276711,7.8,"280,621",7.9,316423,8.9,319238,9.0,297349,8.4,288759,8.2,270261,7.7
18,Maine,115621,10.6,"127,896",11.8,132126,12.3,119995,11.2,130992,12.2,120034,11.2,122881,11.6
19,Maryland,420686,8.9,"424,051",9.0,439909,9.3,440338,9.4,439666,9.4,408914,8.8,393571,8.5
20,Massachusetts,592048,10.7,"570,379",10.3,558435,10.2,621312,11.5,560739,10.3,547096,10.2,636176,12.0
21,Michigan,859534,11.0,"867,732",11.1,872519,11.2,837016,10.8,841111,10.9,781517,10.2,831656,10.9
22,Minnesota,369238,8.5,"358,668",8.3,357232,8.3,310955,7.3,321439,7.6,310116,7.4,350818,8.4
23,Mississippi,201273,8.9,"225,468",9.9,218223,9.7,187772,8.3,181044,8.0,175845,7.8,166117,7.4
24,Missouri,441777,9.3,"479,037",10.1,444334,9.4,442086,9.4,463150,9.9,448562,9.6,450530,9.7
25,Montana,89552,10.6,"83,280",10.0,82660,10.0,74843,9.1,69403,8.5,71210,8.9,76683,9.6
26,Nebraska,114104,7.8,"116,768",8.0,128793,8.9,118181,8.2,118932,8.3,101854,7.2,108805,7.7
27,Nevada,230431,9.5,"224,825",9.4,186787,8.0,240247,10.4,179986,7.9,179450,8.1,172343,8.1
28,New Hampshire,127113,11.5,"119,305",10.8,128307,11.8,142205,13.2,121566,11.4,107224,10.1,107371,10.2
29,New Jersey,598649,8.7,—,,593242,8.4,600483,8.6,573506,8.2,501572,7.2,570238,8.3
30,New Mexico,162657,10.1,"134,715",8.4,157177,9.9,165265,10.5,185678,11.8,155818,9.9,154861,9.9
31,New York,1449094,9.5,"1,419,951",9.3,1578011,10.1,1426161,9.2,1474062,9.5,1532508,9.9,1642598,10.7
32,North Carolina,645784,7.8,"681,689",8.3,757790,9.4,730767,9.2,630864,8.0,633683,8.2,592279,7.8
33,North Dakota,49883,8.6,"47,369",8.1,46996,8.2,50524,8.6,53028,9.0,52567,9.0,50533,8.7
34,Ohio,895631,9.9,"1,009,034",11.1,854186,9.4,888520,9.9,873284,9.7,896185,10.0,957711,10.8
35,Oklahoma,322759,10.8,"302,947",10.2,307581,10.3,285215,9.6,293910,10.0,279781,9.5,284303,9.7
36,Oregon,356958,10.6,"369,735",11.1,383340,11.6,353411,10.9,335445,10.5,351437,11.2,314501,10.2
37,Pennsylvania,1032246,10.2,"1,104,033",10.9,1012588,10.0,1021687,10.1,1070258,10.6,1020306,10.2,979527,9.8
38,Rhode Island,103190,12.1,"94,817",11.2,101251,11.9,103853,12.3,90375,10.7,91992,11.0,89462,10.8
39,South Carolina,385741,9.4,"376,358",9.4,360353,9.1,361086,9.2,340518,8.8,309943,8.2,309409,8.3
40,South Dakota,53990,8.1,"56,510",8.5,51652,7.9,48077,7.3,40253,6.2,54406,8.4,48213,7.5
41,Tennessee,552156,10.3,"463,655",8.8,513084,9.8,517735,10.0,559423,10.9,455946,9.0,448189,8.9
42,Texas,1617392,7.4,"1,532,311",7.1,1572815,7.4,1543064,7.3,1584264,7.6,1528177,7.6,1312573,6.7
43,Utah,249663,10.8,"223,768",9.9,206360,9.3,192523,8.9,175360,8.3,187377,9.0,178514,8.7
44,Vermont,54781,10.8,"59,140",11.6,60216,12.0,59012,11.8,51211,10.2,55265,11.0,56644,11.3
45,Virginia,571162,8.6,"586,339",8.8,563510,8.5,581200,8.9,560419,8.6,513676,7.9,556765,8.6
46,Washington,579774,9.6,"590,642",9.9,558951,9.6,603962,10.5,538758,9.6,516400,9.4,500993,9.3
47,West Virginia,175011,12.4,"164,016",11.5,175368,12.3,182240,12.7,171816,11.8,158528,10.8,161534,11.0
48,Wisconsin,465109,10.2,"460,075",10.2,408318,9.0,428991,9.5,381108,8.5,426296,9.5,456134,10.3
49,Wyoming,44192,10.0,"41,968",9.5,38099,8.7,40805,9.1,42717,9.5,35482,8.0,37351,8.3

In [52]:
asthma_2021_data = pd.read_csv('../data/asthma_adults_2021.csv')

In [53]:
asthma_2021_data = asthma_2021_data.drop([8,51,52]).reset_index(drop=True)

In [54]:
asthma_2021_data.columns

Index(['State or Territory', 'Number With Current Asthma',
       'Percent With Current Asthma (SE)'],
      dtype='object')

In [55]:
asthma_2021_data = asthma_2021_data.rename(columns={'State or Territory':'state', 'Number With Current Asthma':'asthma_2021', 'Percent With Current Asthma (SE)': 'perc_2021'})

In [56]:
asthma_2021_data.perc_2021 = asthma_2021_data.perc_2021.str[:-7]

In [57]:
asthma_07 = pd.merge(left =asthma_2021_data, right= asthma_06, on = 'state')

In [58]:
asthma_07

,state,asthma_2021,perc_2021,asthma_2020,perc_2020,asthma_2019,perc_2019,asthma_2018,perc_2018,asthma_2017,perc_2017,asthma_2016,perc_2016,asthma_2015,perc_2015,asthma_2014,perc_2014
0,Alabama,"394,199",10.1,341720,9.0,"360,965",9.5,394634,10.5,409623,10.9,365041,9.7,370128,9.9,353847,9.5
1,Alaska,"49,453",9.0,48173,8.9,"54,239",9.9,50685,9.2,46863,8.4,48398,8.8,50792,9.2,44865,8.1
2,Arizona,"519,749",9.4,550729,9.6,"544,394",9.7,545104,10.0,529155,9.8,491794,9.4,479791,9.3,484115,9.6
3,Arkansas,"207,857",9.0,210340,9.1,"215,095",9.3,225853,9.8,219001,9.6,193863,8.5,226691,10.1,197478,8.8
4,California,"2,694,396",8.8,2848466,9.3,"2,405,797",7.8,2607598,8.5,2398304,7.9,2366008,7.8,2290491,7.7,2279568,7.8
5,Colorado,"476,932",10.4,434782,9.6,"434,603",9.7,399357,9.1,404012,9.3,374598,8.8,375709,9.0,342994,8.4
6,Connecticut,"300,910",10.5,299193,10.6,"297,971",10.5,290278,10.3,299336,10.7,295601,10.5,294997,10.5,257311,9.2
7,Delaware,"77,695",9.8,83428,10.8,"75,119",9.8,77035,10.1,79827,10.6,63617,8.5,67950,9.2,63855,8.8
8,Florida,—,,1276625,7.3,"1,292,568",7.4,1495632,8.7,1258262,7.5,1109768,6.7,1197036,7.4,1268162,8.0
9,Georgia,"772,663",9.4,736912,9.0,"620,794",7.7,714569,8.9,663053,8.4,666285,8.5,708933,9.2,626931,8.3
10,Hawaii,"92,849",8.1,96890,8.8,"106,413",9.6,104368,9.3,109177,9.8,120293,10.7,111142,10.0,102093,9.2
11,Idaho,"138,516",9.8,127406,9.4,"131,709",10.0,111954,8.6,113842,9.0,115109,9.3,110735,9.1,103201,8.6
12,Illinois,"860,395",8.7,832244,8.5,"808,461",8.2,860007,8.7,808252,8.2,879704,8.9,828784,8.4,898521,9.1
13,Indiana,"536,397",10.3,497539,9.6,"499,841",9.8,509651,10.0,509205,10.0,514349,10.2,512557,10.2,532909,10.7
14,Iowa,"224,466",9.1,220085,9.1,"194,614",8.0,190960,7.9,223269,9.3,187872,7.8,181072,7.6,201266,8.5
15,Kansas,"235,953",10.6,216312,9.8,"217,474",9.9,214698,9.8,199738,9.1,193078,8.8,188514,8.7,189350,8.7
16,Kentucky,"408,801",11.7,395633,11.5,"326,678",9.5,395345,11.5,367763,10.7,394686,11.6,403499,11.9,402690,11.9
17,Louisiana,"344,842",9.7,276711,7.8,"280,621",7.9,316423,8.9,319238,9.0,297349,8.4,288759,8.2,270261,7.7
18,Maine,"138,396",12.5,115621,10.6,"127,896",11.8,132126,12.3,119995,11.2,130992,12.2,120034,11.2,122881,11.6
19,Maryland,"451,158",9.4,420686,8.9,"424,051",9.0,439909,9.3,440338,9.4,439666,9.4,408914,8.8,393571,8.5
20,Massachusetts,"661,306",11.7,592048,10.7,"570,379",10.3,558435,10.2,621312,11.5,560739,10.3,547096,10.2,636176,12.0
21,Michigan,"908,568",11.5,859534,11.0,"867,732",11.1,872519,11.2,837016,10.8,841111,10.9,781517,10.2,831656,10.9
22,Minnesota,"387,219",8.8,369238,8.5,"358,668",8.3,357232,8.3,310955,7.3,321439,7.6,310116,7.4,350818,8.4
23,Mississippi,"226,646",10.0,201273,8.9,"225,468",9.9,218223,9.7,187772,8.3,181044,8.0,175845,7.8,166117,7.4
24,Missouri,"449,253",9.4,441777,9.3,"479,037",10.1,444334,9.4,442086,9.4,463150,9.9,448562,9.6,450530,9.7
25,Montana,"83,698",9.7,89552,10.6,"83,280",10.0,82660,10.0,74843,9.1,69403,8.5,71210,8.9,76683,9.6
26,Nebraska,"122,491",8.2,114104,7.8,"116,768",8.0,128793,8.9,118181,8.2,118932,8.3,101854,7.2,108805,7.7
27,Nevada,"223,954",9.1,230431,9.5,"224,825",9.4,186787,8.0,240247,10.4,179986,7.9,179450,8.1,172343,8.1
28,New Hampshire,"136,025",12.1,127113,11.5,"119,305",10.8,128307,11.8,142205,13.2,121566,11.4,107224,10.1,107371,10.2
29,New Jersey,"646,963",8.9,598649,8.7,—,,593242,8.4,600483,8.6,573506,8.2,501572,7.2,570238,8.3
30,New Mexico,"173,518",10.6,162657,10.1,"134,715",8.4,157177,9.9,165265,10.5,185678,11.8,155818,9.9,154861,9.9
31,New York,"1,563,485",9.8,1449094,9.5,"1,419,951",9.3,1578011,10.1,1426161,9.2,1474062,9.5,1532508,9.9,1642598,10.7
32,North Carolina,"717,344",8.7,645784,7.8,"681,689",8.3,757790,9.4,730767,9.2,630864,8.0,633683,8.2,592279,7.8
33,North Dakota,"50,012",8.4,49883,8.6,"47,369",8.1,46996,8.2,50524,8.6,53028,9.0,52567,9.0,50533,8.7
34,Ohio,"955,568",10.4,895631,9.9,"1,009,034",11.1,854186,9.4,888520,9.9,873284,9.7,896185,10.0,957711,10.8
35,Oklahoma,"326,087",10.9,322759,10.8,"302,947",10.2,307581,10.3,285215,9.6,293910,10.0,279781,9.5,284303,9.7
36,Oregon,"377,851",11.2,356958,10.6,"369,735",11.1,383340,11.6,353411,10.9,335445,10.5,351437,11.2,314501,10.2
37,Pennsylvania,"1,062,292",10.3,1032246,10.2,"1,104,033",10.9,1012588,10.0,1021687,10.1,1070258,10.6,1020306,10.2,979527,9.8
38,Rhode Island,"111,498",12.6,103190,12.1,"94,817",11.2,101251,11.9,103853,12.3,90375,10.7,91992,11.0,89462,10.8
39,South Carolina,"372,607",9.2,385741,9.4,"376,358",9.4,360353,9.1,361086,9.2,340518,8.8,309943,8.2,309409,8.3
40,South Dakota,"55,927",8.3,53990,8.1,"56,510",8.5,51652,7.9,48077,7.3,40253,6.2,54406,8.4,48213,7.5
41,Tennessee,"558,276",10.3,552156,10.3,"463,655",8.8,513084,9.8,517735,10.0,559423,10.9,455946,9.0,448189,8.9
42,Texas,"1,854,306",8.4,1617392,7.4,"1,532,311",7.1,1572815,7.4,1543064,7.3,1584264,7.6,1528177,7.6,1312573,6.7
43,Utah,"231,080",9.7,249663,10.8,"223,768",9.9,206360,9.3,192523,8.9,175360,8.3,187377,9.0,178514,8.7
44,Vermont,"61,465",11.8,54781,10.8,"59,140",11.6,60216,12.0,59012,11.8,51211,10.2,55265,11.0,56644,11.3
45,Virginia,"661,945",9.8,571162,8.6,"586,339",8.8,563510,8.5,581200,8.9,560419,8.6,513676,7.9,556765,8.6
46,Washington,"641,131",10.5,579774,9.6,"590,642",9.9,558951,9.6,603962,10.5,538758,9.6,516400,9.4,500993,9.3
47,West Virginia,"171,141",12.1,175011,12.4,"164,016",11.5,175368,12.3,182240,12.7,171816,11.8,158528,10.8,161534,11.0
48,Wisconsin,"498,228",10.8,465109,10.2,"460,075",10.2,408318,9.0,428991,9.5,381108,8.5,426296,9.5,456134,10.3
49,Wyoming,"43,188",9.7,44192,10.0,"41,968",9.5,38099,8.7,40805,9.1,42717,9.5,35482,8.0,37351,8.3

In [59]:
asthma_years = asthma_07[['state','asthma_2021','asthma_2020','asthma_2019','asthma_2018','asthma_2017','asthma_2016','asthma_2015','asthma_2014']]

In [60]:
asthma_years.to_csv('asthma_years.csv', index=False)

In [61]:
asthma_perc_years = asthma_07[['state', 'perc_2021', 'perc_2020','perc_2019','perc_2018','perc_2017','perc_2016','perc_2015','perc_2014']]

In [62]:
asthma_perc_years

,state,perc_2021,perc_2020,perc_2019,perc_2018,perc_2017,perc_2016,perc_2015,perc_2014
0,Alabama,10.1,9.0,9.5,10.5,10.9,9.7,9.9,9.5
1,Alaska,9.0,8.9,9.9,9.2,8.4,8.8,9.2,8.1
2,Arizona,9.4,9.6,9.7,10.0,9.8,9.4,9.3,9.6
3,Arkansas,9.0,9.1,9.3,9.8,9.6,8.5,10.1,8.8
4,California,8.8,9.3,7.8,8.5,7.9,7.8,7.7,7.8
5,Colorado,10.4,9.6,9.7,9.1,9.3,8.8,9.0,8.4
6,Connecticut,10.5,10.6,10.5,10.3,10.7,10.5,10.5,9.2
7,Delaware,9.8,10.8,9.8,10.1,10.6,8.5,9.2,8.8
8,Florida,,7.3,7.4,8.7,7.5,6.7,7.4,8.0
9,Georgia,9.4,9.0,7.7,8.9,8.4,8.5,9.2,8.3
10,Hawaii,8.1,8.8,9.6,9.3,9.8,10.7,10.0,9.2
11,Idaho,9.8,9.4,10.0,8.6,9.0,9.3,9.1,8.6
12,Illinois,8.7,8.5,8.2,8.7,8.2,8.9,8.4,9.1
13,Indiana,10.3,9.6,9.8,10.0,10.0,10.2,10.2,10.7
14,Iowa,9.1,9.1,8.0,7.9,9.3,7.8,7.6,8.5
15,Kansas,10.6,9.8,9.9,9.8,9.1,8.8,8.7,8.7
16,Kentucky,11.7,11.5,9.5,11.5,10.7,11.6,11.9,11.9
17,Louisiana,9.7,7.8,7.9,8.9,9.0,8.4,8.2,7.7
18,Maine,12.5,10.6,11.8,12.3,11.2,12.2,11.2,11.6
19,Maryland,9.4,8.9,9.0,9.3,9.4,9.4,8.8,8.5
20,Massachusetts,11.7,10.7,10.3,10.2,11.5,10.3,10.2,12.0
21,Michigan,11.5,11.0,11.1,11.2,10.8,10.9,10.2,10.9
22,Minnesota,8.8,8.5,8.3,8.3,7.3,7.6,7.4,8.4
23,Mississippi,10.0,8.9,9.9,9.7,8.3,8.0,7.8,7.4
24,Missouri,9.4,9.3,10.1,9.4,9.4,9.9,9.6,9.7
25,Montana,9.7,10.6,10.0,10.0,9.1,8.5,8.9,9.6
26,Nebraska,8.2,7.8,8.0,8.9,8.2,8.3,7.2,7.7
27,Nevada,9.1,9.5,9.4,8.0,10.4,7.9,8.1,8.1
28,New Hampshire,12.1,11.5,10.8,11.8,13.2,11.4,10.1,10.2
29,New Jersey,8.9,8.7,,8.4,8.6,8.2,7.2,8.3
30,New Mexico,10.6,10.1,8.4,9.9,10.5,11.8,9.9,9.9
31,New York,9.8,9.5,9.3,10.1,9.2,9.5,9.9,10.7
32,North Carolina,8.7,7.8,8.3,9.4,9.2,8.0,8.2,7.8
33,North Dakota,8.4,8.6,8.1,8.2,8.6,9.0,9.0,8.7
34,Ohio,10.4,9.9,11.1,9.4,9.9,9.7,10.0,10.8
35,Oklahoma,10.9,10.8,10.2,10.3,9.6,10.0,9.5,9.7
36,Oregon,11.2,10.6,11.1,11.6,10.9,10.5,11.2,10.2
37,Pennsylvania,10.3,10.2,10.9,10.0,10.1,10.6,10.2,9.8
38,Rhode Island,12.6,12.1,11.2,11.9,12.3,10.7,11.0,10.8
39,South Carolina,9.2,9.4,9.4,9.1,9.2,8.8,8.2,8.3
40,South Dakota,8.3,8.1,8.5,7.9,7.3,6.2,8.4,7.5
41,Tennessee,10.3,10.3,8.8,9.8,10.0,10.9,9.0,8.9
42,Texas,8.4,7.4,7.1,7.4,7.3,7.6,7.6,6.7
43,Utah,9.7,10.8,9.9,9.3,8.9,8.3,9.0,8.7
44,Vermont,11.8,10.8,11.6,12.0,11.8,10.2,11.0,11.3
45,Virginia,9.8,8.6,8.8,8.5,8.9,8.6,7.9,8.6
46,Washington,10.5,9.6,9.9,9.6,10.5,9.6,9.4,9.3
47,West Virginia,12.1,12.4,11.5,12.3,12.7,11.8,10.8,11.0
48,Wisconsin,10.8,10.2,10.2,9.0,9.5,8.5,9.5,10.3
49,Wyoming,9.7,10.0,9.5,8.7,9.1,9.5,8.0,8.3

In [63]:
asthma_perc_years.to_csv('asthma_perc_years.csv', index=False)

In [64]:
mortality_2014 = pd.read_csv('../data/mortality_rate_2014.csv')

In [65]:
mortality_2014

          Characteristic  Number of Deaths*  Death Rate*,** per million
0                  Total             3651.0                        10.6
1  Child (Age <18 years)              187.0                         2.5
2  Adult (Age 18+ years)             3464.0                        14.1
3                   Race                NaN                         NaN
4               White NH             2163.0                         8.8
5               Black NH              991.0                        25.4
6               Other NH              182.0                         9.9
7              Hispanica              301.0                         7.7

In [66]:
mortality_rate_2014 = mortality_2014.drop([3,4,5,6,7])

In [67]:
mortality_rate_2014

          Characteristic  Number of Deaths*  Death Rate*,** per million
0                  Total             3651.0                        10.6
1  Child (Age <18 years)              187.0                         2.5
2  Adult (Age 18+ years)             3464.0                        14.1

In [68]:
mortality_rate_2014 = mortality_rate_2014.rename(columns={'Characteristic': 'characteristics','Number of Deaths*' :'deaths_total', 'Death Rate*,** per million': 'death_rate/million'})

In [69]:
mortality_race_14 = mortality_2014.drop([0,1,2,3])

In [70]:
mortality_race_14

  Characteristic  Number of Deaths*  Death Rate*,** per million
4       White NH             2163.0                         8.8
5       Black NH              991.0                        25.4
6       Other NH              182.0                         9.9
7      Hispanica              301.0                         7.7

In [71]:
mortality_race_14.columns

Index(['Characteristic', 'Number of Deaths*', 'Death Rate*,** per million'], dtype='object')

In [72]:
mortality_race_14 = mortality_race_14.rename(columns={'Characteristic': 'race','Number of Deaths*' :'deaths_total', 'Death Rate*,** per million': 'death_rate/million'})

In [73]:
mortality_race_14

        race  deaths_total  death_rate/million
4   White NH        2163.0                 8.8
5   Black NH         991.0                25.4
6   Other NH         182.0                 9.9
7  Hispanica         301.0                 7.7

In [74]:
mortality_rate_2014.to_csv('mortality_rate_2014.csv', index=False)

In [75]:
mortality_2015 = pd.read_csv('../data/mortality_rate_2015.csv')

In [76]:
mortality_2015

          Characteristic  Number of Deaths*  Death Rate*,** per million
0                  Total             3615.0                        10.3
1  Child (Age <18 years)              219.0                         3.0
2  Adult (Age 18+ years)             3396.0                        13.7
3                   Race                NaN                         NaN
4               White NH             2119.0                         8.4
5               Black NH              966.0                        23.9
6               Other NH              195.0                        10.0
7              Hispanica              305.0                         7.3

In [77]:
mortality_rate_2015 = mortality_2015.drop([3,4,5,6,7])

In [78]:
mortality_rate_2015

          Characteristic  Number of Deaths*  Death Rate*,** per million
0                  Total             3615.0                        10.3
1  Child (Age <18 years)              219.0                         3.0
2  Adult (Age 18+ years)             3396.0                        13.7

In [79]:
mortality_rate_2015.columns =['characteristics', 'deaths_total', 'death_rate/million']

In [80]:
mortality_rate_2015

         characteristics  deaths_total  death_rate/million
0                  Total        3615.0                10.3
1  Child (Age <18 years)         219.0                 3.0
2  Adult (Age 18+ years)        3396.0                13.7

In [81]:
mortality_rate_2015.to_csv('mortality_rate_2015.csv', index=False)

In [82]:
mortality_2016 = pd.read_csv('../data/mortality_rate_2016.csv')

In [83]:
mortality_2016

           Characteristic Number of Deaths* Death Rate*,** per million
0          Characteristic  Number of Deaths     Death Rate per million
1                   Total             3,518                       10.0
2   Child (Age <18 years)               209                        2.8
3   Adult (Age 18+ years)             3,309                       13.3
4                    Race               NaN                        NaN
5                White NH             2,042                        8.2
6                Black NH               951                       23.3
7                Other NH               174                        8.5
8                Hispanic               334                        7.8
9                     Sex               NaN                        NaN
10                  Males             1,356                        8.5
11   Boys (Age <18 years)               128                        3.4
12    Men (Age 18+ years)             1,228                       10.1
13                Females             2,162                       11.2
14  Girls (Age <18 years)                81                        2.2
15  Women (Age 18+ years)             2,081                       16.3

In [84]:
mortality_rate_2016 = mortality_2016.drop([0,4,5,6,7,8,9,10,11,12,13,14,15])

In [85]:
mortality_rate_2016.columns =['characteristics', 'deaths_total', 'death_rate/million']

In [86]:
mortality_rate_2016

         characteristics deaths_total death_rate/million
1                  Total        3,518               10.0
2  Child (Age <18 years)          209                2.8
3  Adult (Age 18+ years)        3,309               13.3

In [87]:
mortality_2017 = pd.read_csv('../data/mortality_rate_2017.csv')

In [88]:
mortality_2017

           Characteristic  Number of Deaths*  Death Rate*,** per million
0                   Total             3564.0                         9.9
1   Child (Age <18 years)              185.0                         2.5
2   Adult (Age 18+ years)             3379.0                        13.4
3                    Race                NaN                         NaN
4                White NH             2089.0                         8.1
5                Black NH              953.0                        22.7
6                Other NH              187.0                         8.9
7                Hispanic              322.0                         7.1
8                     Sex                NaN                         NaN
9                   Males             1384.0                         8.3
10   Boys (Age <18 years)              119.0                         3.2
11    Men (Age 18+ years)             1265.0                        10.3
12                Females             2180.0                        11.0
13  Girls (Age <18 years)               66.0                         1.8
14  Women (Age 18+ years)             2114.0                        16.4

In [89]:
mortality_rate_2017 = mortality_2017.drop([3,4,5,6,7,8,9,10,11,12,13,14])

In [90]:
mortality_rate_2017.columns =['characteristics', 'deaths_total', 'death_rate/million']

In [91]:
mortality_rate_2017

         characteristics  deaths_total  death_rate/million
0                  Total        3564.0                 9.9
1  Child (Age <18 years)         185.0                 2.5
2  Adult (Age 18+ years)        3379.0                13.4

In [92]:
mortality_2018 = pd.read_csv('../data/mortality_2018.csv')

In [93]:
mortality_2018

,Characteristic1,Number of Deaths2,Death Rate2 per million (SE)
0,Total,"3,441",10.5 (0.18)
1,Child (Age <18 years),192,2.6 (0.19)
2,Adult (Age 18+ years),"3,248",12.8 (0.22)
3,Age Group,Age Group,Age Group
4,0–4 years,36,1.8 (0.30)
5,5–11 years,89,3.1 (0.33)
6,12–17 years,67,2.7 (0.33)
7,18–24 years,116,3.8 (0.35)
8,25–34 years,238,5.2 (0.34)
9,35–64 years,"1,372",11.0 (0.30)
10,65+ years,"1,522",29.0 (0.74)
11,Sex,Sex,Sex
12,Males,"1,363",12.5 (0.23)
13,Boys (Age <18 years),106,2.8 (0.27)
14,Men (Age 18+ years),"1,256",10.2 (0.29)
15,Females,"2,078",8.5 (0.27)
16,Girls (Age <18 years),86,2.4 (0.26)
17,Women (Age 18+ years),"1,992",15.3 (0.34)
18,Race/Ethnicity,Race/Ethnicity,Race/Ethnicity
19,White NH,"1,902",9.5 (0.22)
20,Black NH,937,21.8 (0.71)
21,AIAN NH,31,11.3 (2.03)
22,Asian or Pacific Islander NH,174,8.5 (0.64)
23,Hispanic,377,6.3 (0.32)

In [94]:
mortality_rate_2018 = mortality_2018.drop([3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23])

In [95]:
mortality_rate_2018.columns =['characteristics', 'deaths_total', 'death_rate/million']

In [96]:
mortality_rate_2018

         characteristics deaths_total death_rate/million
0                  Total        3,441        10.5 (0.18)
1  Child (Age <18 years)          192         2.6 (0.19)
2  Adult (Age 18+ years)        3,248        12.8 (0.22)

In [97]:
mortality_2019 = pd.read_csv('../data/mortality_rate_2019.csv')

In [98]:
mortality_2019

,Characteristic1,Number of Deaths2,Death Rate2 Per Million (SE)
0,Total,"3,524",10.7 (0.18)
1,Children (Age <18 years),178,2.4 (0.18)
2,Adults (Age 18+ years),"3,346",13.1 (0.23)
3,Age Group (Years),Age Group (Years),Age Group (Years)
4,0–4,14,— (0.19)
5,5–11,97,3.4 (0.35)
6,12–17,67,2.7 (0.33)
7,18–24,128,4.2 (0.37)
8,25–34,318,6.9 (0.39)
9,35–64,"1,436",11.5 (0.30)
10,65+,"1,464",27.1 (0.71)
11,Sex,Sex,Sex
12,Males,"1,422",8.8 (0.23)
13,Boys (Age <18 years),122,3.3 (0.30)
14,Men (Age 18+ years),"1,300",10.5 (0.29)
15,Females,"2,102",12.6 (0.28)
16,Girls (Age <18 years),56,1.6 (0.21)
17,Women (Age 18+ years),"2,046",15.6 (0.35)
18,Race/Ethnicity,Race/Ethnicity,Race/Ethnicity
19,White NH,"1,961",9.9 (0.22)
20,Black NH,983,23.9 (0.76)
21,AI/AN NH,19,— (1.79)
22,Asian or Pacific Islander NH,136,7.2 (0.62)
23,Hispanic,365,6.0 (0.32)

In [99]:
mortality_rate_2019 = mortality_2019.drop([3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23])

In [100]:
mortality_rate_2019.columns =['characteristics', 'deaths_total', 'death_rate/million']

In [101]:
mortality_rate_2019

            characteristics deaths_total death_rate/million
0                     Total        3,524        10.7 (0.18)
1  Children (Age <18 years)          178         2.4 (0.18)
2    Adults (Age 18+ years)        3,346        13.1 (0.23)

In [102]:
mortality_2020 = pd.read_csv('../data/mortality_rate_2020.csv')

In [103]:
mortality_2020

,Characteristic1,Number of Deaths2,Death Rate2 Per Million (SE)
0,Total,"4,145",12.6 (0.20)
1,Children (Age <18 years),204,2.8 (0.20)
2,Adults (Age 18+ years),"3,941",15.4 (0.24)
3,Age Groups (Years),Age Groups (Years),Age Groups (Years)
4,0–4,16,— (0.21)
5,5–11,91,3.2 (0.34)
6,12–17,97,3.9 (0.39)
7,18–24,158,5.3 (0.42)
8,25–34,348,7.6 (0.40)
9,35–64,"1,725",13.8 (0.33)
10,65+,"1,710",30.7 (0.74)
11,Sex,Sex,Sex
12,Males,"1,682",10.4 (0.25)
13,Boys (Age <18 years),122,3.3 (0.30)
14,Men (Age 18+ years),"1,560",12.5 (0.32)
15,Females,"2,463",14.7 (0.30)
16,Girls (Age <18 years),82,2.3 (0.25)
17,Women (Age 18+ years),"2,381",18.1 (0.37)
18,Race/Ethnicity,Race/Ethnicity,Race/Ethnicity
19,White NH,"2,173",10.8 (0.23)
20,Children (Age <18 years),52,1.4 (0.19)
21,Adults (Age 18+ years),"2,121",13.0 (0.28)
22,Black NH,"1,253",28.7 (0.81)
23,Children (Age <18 years),119,10.7 (0.98)
24,Adults (Age 18+ years),"1,134",34.9 (1.04)
25,AI/AN NH,42,15.2 (2.34)
26,Children (Age <18 years),7,— (3.76)
27,Adults (Age 18+ years),35,17.0 (2.87)
28,Asian or Pacific Islander NH,214,10.1 (0.69)
29,Children (Age <18 years),7,— (0.58)
30,Adults (Age 18+ years),207,12.4 (0.86)
31,Hispanic,446,7.3 (0.34)
32,Children (Age <18 years),19,— (0.23)
33,Adults (Age 18+ years),427,10.0 (0.48)

In [104]:
mortality_rate_2020 = mortality_2020.drop([3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33])

In [105]:
mortality_rate_2020.columns =['characteristics', 'deaths_total', 'death_rate/million']

In [106]:
mortality_rate_2020

            characteristics deaths_total death_rate/million
0                     Total        4,145        12.6 (0.20)
1  Children (Age <18 years)          204         2.8 (0.20)
2    Adults (Age 18+ years)        3,941        15.4 (0.24)

In [107]:
mortality_2021 = pd.read_csv('../data/mortality_rate_2021.csv')

In [108]:
mortality_2021

             Characteristic1   Number of Deaths2 Death Rate2 Per Million (SE)
0                      Total               3,517                  10.6 (0.18)
1   Children (Age <18 years)                 145                   2.0 (0.16)
2     Adults (Age 18+ years)               3,372                  13.1 (0.22)
3         Age Groups (Years)  Age Groups (Years)           Age Groups (Years)
4                        0–4                  26                   1.4 (0.27)
5                       5–11                  68                   2.4 (0.29)
6                      12–17                  51                   2.0 (0.27)
7                      18–24                 113                   3.8 (0.35)
8                      25–34                 293                   6.4 (0.38)
9                      35–64               1,453                  11.5 (0.30)
10                       65+               1,513                  27.1 (0.70)
11                       Sex                 Sex                          Sex
12                     Males               1,430                   8.7 (0.23)
13             Age <18 years                  89                   2.4 (0.25)
14             Age 18+ years               1,341                  10.6 (0.29)
15                   Females               2,087                  12.5 (0.27)
16             Age <18 years                  56                   1.6 (0.25)
17             Age 18+ years               2,031                  15.4 (0.34)
18            Race/Ethnicity      Race/Ethnicity               Race/Ethnicity
19                  White NH               1,929                   9.8 (0.22)
20  Children (Age <18 years)                  36                   1.0 (0.17)
21    Adults (Age 18+ years)               1,893                  11.8 (0.27)
22                  Black NH               1,020                  24.4 (0.76)
23  Children (Age <18 years)                  78                   7.7 (0.87)
24    Adults (Age 18+ years)                 942                  29.7 (0.97)
25                  AI/AN NH                  19                     — (1.78)
26  Children (Age <18 years)                   —                            —
27    Adults (Age 18+ years)                  18                     — (2.29)
28        Asian or NH/OPI NH                 139                   6.8 (0.58)
29  Children (Age <18 years)                   —                            —
30    Adults (Age 18+ years)                 139                   8.6 (0.73)
31                  Hispanic                 366                   5.8 (0.31)
32  Children (Age <18 years)                  27                   1.4 (0.27)
33    Adults (Age 18+ years)                 339                   7.8 (0.42)

In [109]:
mortality_rate_2021 = mortality_2021.drop([3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33])

In [110]:
mortality_rate_2021.columns =['characteristics', 'deaths_total', 'death_rate/million']

In [111]:
mortality_rate_2021

            characteristics deaths_total death_rate/million
0                     Total        3,517        10.6 (0.18)
1  Children (Age <18 years)          145         2.0 (0.16)
2    Adults (Age 18+ years)        3,372        13.1 (0.22)

In [112]:
mortality_rate_2021['year'] = '2021'

In [113]:
mortality_rate_2021

            characteristics deaths_total death_rate/million  year
0                     Total        3,517        10.6 (0.18)  2021
1  Children (Age <18 years)          145         2.0 (0.16)  2021
2    Adults (Age 18+ years)        3,372        13.1 (0.22)  2021

In [114]:
mortality_rate_2021['death_rate/million'] = mortality_rate_2021['death_rate/million'].str[:-7]

In [134]:
mortality_rate_2021['deaths_total'] = mortality_rate_2021['deaths_total'].str.replace(',','')

In [135]:
mortality_rate_2021

            characteristics deaths_total death_rate/million  year
0                     Total         3517               10.6  2021
1  Children (Age <18 years)          145                2.0  2021
2    Adults (Age 18+ years)         3372               13.1  2021

In [116]:
mortality_rate_2020['year'] = '2020'

In [117]:
mortality_rate_2020['death_rate/million'] = mortality_rate_2020['death_rate/million'].str[:-7]

In [136]:
mortality_rate_2020['deaths_total'] = mortality_rate_2020['deaths_total'].str.replace(',','')

In [118]:
mortality_rate_2019['year'] = '2019'

In [119]:
mortality_rate_2019['death_rate/million'] = mortality_rate_2019['death_rate/million'].str[:-7]

In [137]:
mortality_rate_2019['deaths_total'] = mortality_rate_2019['deaths_total'].str.replace(',','')

In [120]:
mortality_rate_2018['year'] = '2018'

In [121]:
mortality_rate_2018['death_rate/million'] = mortality_rate_2018['death_rate/million'].str[:-7]

In [138]:
mortality_rate_2018['deaths_total'] = mortality_rate_2018['deaths_total'].str.replace(',','')

In [122]:
mortality_rate_2017['year'] = '2017'

In [146]:
mortality_rate_2017['deaths_total'] = mortality_rate_2017['deaths_total'].astype(str).str.rstrip('.0')

In [123]:
mortality_rate_2016['year'] = '2016'

In [139]:
mortality_rate_2016['deaths_total'] = mortality_rate_2016['deaths_total'].str.replace(',','')

In [124]:
mortality_rate_2015['year'] = '2015'

In [148]:
mortality_rate_2015['deaths_total'] = mortality_rate_2015['deaths_total'].astype(str).str.rstrip('.0')

In [125]:
mortality_rate_2014['year'] = '2014'

In [149]:
mortality_rate_2014['deaths_total'] = mortality_rate_2014['deaths_total'].astype(str).str.rstrip('.0')

In [126]:
mortality_rate_2020

            characteristics deaths_total death_rate/million  year
0                     Total        4,145               12.6  2020
1  Children (Age <18 years)          204                2.8  2020
2    Adults (Age 18+ years)        3,941               15.4  2020

In [150]:
mortality_rate_final = pd.concat([mortality_rate_2021, mortality_rate_2020, mortality_rate_2019, mortality_rate_2018, mortality_rate_2017, mortality_rate_2016, mortality_rate_2015, mortality_rate_2014])

In [151]:
mortality_rate_final = mortality_rate_final.reset_index(drop=True)

In [152]:
mortality_rate_final

             characteristics deaths_total death_rate/million  year
0                      Total         3517               10.6  2021
1   Children (Age <18 years)          145                2.0  2021
2     Adults (Age 18+ years)         3372               13.1  2021
3                      Total         4145               12.6  2020
4   Children (Age <18 years)          204                2.8  2020
5     Adults (Age 18+ years)         3941               15.4  2020
6                      Total         3524               10.7  2019
7   Children (Age <18 years)          178                2.4  2019
8     Adults (Age 18+ years)         3346               13.1  2019
9                      Total         3441               10.5  2018
10     Child (Age <18 years)          192                2.6  2018
11     Adult (Age 18+ years)         3248               12.8  2018
12                     Total         3564                9.9  2017
13     Child (Age <18 years)          185                2.5  2017
14     Adult (Age 18+ years)         3379               13.4  2017
15                     Total         3518               10.0  2016
16     Child (Age <18 years)          209                2.8  2016
17     Adult (Age 18+ years)         3309               13.3  2016
18                     Total         3615               10.3  2015
19     Child (Age <18 years)          219                3.0  2015
20     Adult (Age 18+ years)         3396               13.7  2015
21                     Total         3651               10.6  2014
22     Child (Age <18 years)          187                2.5  2014
23     Adult (Age 18+ years)         3464               14.1  2014

In [153]:
mortality_rate_final

             characteristics deaths_total death_rate/million  year
0                      Total         3517               10.6  2021
1   Children (Age <18 years)          145                2.0  2021
2     Adults (Age 18+ years)         3372               13.1  2021
3                      Total         4145               12.6  2020
4   Children (Age <18 years)          204                2.8  2020
5     Adults (Age 18+ years)         3941               15.4  2020
6                      Total         3524               10.7  2019
7   Children (Age <18 years)          178                2.4  2019
8     Adults (Age 18+ years)         3346               13.1  2019
9                      Total         3441               10.5  2018
10     Child (Age <18 years)          192                2.6  2018
11     Adult (Age 18+ years)         3248               12.8  2018
12                     Total         3564                9.9  2017
13     Child (Age <18 years)          185                2.5  2017
14     Adult (Age 18+ years)         3379               13.4  2017
15                     Total         3518               10.0  2016
16     Child (Age <18 years)          209                2.8  2016
17     Adult (Age 18+ years)         3309               13.3  2016
18                     Total         3615               10.3  2015
19     Child (Age <18 years)          219                3.0  2015
20     Adult (Age 18+ years)         3396               13.7  2015
21                     Total         3651               10.6  2014
22     Child (Age <18 years)          187                2.5  2014
23     Adult (Age 18+ years)         3464               14.1  2014

In [154]:
mortality_rate_final.to_csv('mortality_rate_final.csv', index=False)

In [155]:
mortality_rate_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   characteristics     24 non-null     object
 1   deaths_total        24 non-null     object
 2   death_rate/million  24 non-null     object
 3   year                24 non-null     object
dtypes: object(4)
memory usage: 900.0+ bytes

In [156]:
mortality_rate_final

             characteristics deaths_total death_rate/million  year
0                      Total         3517               10.6  2021
1   Children (Age <18 years)          145                2.0  2021
2     Adults (Age 18+ years)         3372               13.1  2021
3                      Total         4145               12.6  2020
4   Children (Age <18 years)          204                2.8  2020
5     Adults (Age 18+ years)         3941               15.4  2020
6                      Total         3524               10.7  2019
7   Children (Age <18 years)          178                2.4  2019
8     Adults (Age 18+ years)         3346               13.1  2019
9                      Total         3441               10.5  2018
10     Child (Age <18 years)          192                2.6  2018
11     Adult (Age 18+ years)         3248               12.8  2018
12                     Total         3564                9.9  2017
13     Child (Age <18 years)          185                2.5  2017
14     Adult (Age 18+ years)         3379               13.4  2017
15                     Total         3518               10.0  2016
16     Child (Age <18 years)          209                2.8  2016
17     Adult (Age 18+ years)         3309               13.3  2016
18                     Total         3615               10.3  2015
19     Child (Age <18 years)          219                3.0  2015
20     Adult (Age 18+ years)         3396               13.7  2015
21                     Total         3651               10.6  2014
22     Child (Age <18 years)          187                2.5  2014
23     Adult (Age 18+ years)         3464               14.1  2014