In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
asthma_2020_data = pd.read_csv('../data/asthma_2020.csv')

In [3]:
asthma_2020_data

,State or Territory,Number With Current Asthma,Percent With Current Asthma (SE)
0,Alabama,341720,9.0 (0.52)
1,Alaska,48173,8.9 (0.78)
2,Arizona,550729,9.6 (0.41)
3,Arkansas,210340,9.1 (0.58)
4,California,2848466,9.3 (0.60)
5,Colorado,434782,9.6 (0.35)
6,Connecticut,299193,10.6 (0.51)
7,Delaware,83428,10.8 (0.74)
8,District of Columbia,59464,10.4 (0.71)
9,Florida,1276625,7.3 (0.45)
10,Georgia,736912,9.0 (0.50)
11,Hawaii,96890,8.8 (0.44)
12,Idaho,127406,9.4 (0.56)
13,Illinois,832244,8.5 (0.59)
14,Indiana,497539,9.6 (0.39)
15,Iowa,220085,9.1 (0.36)
16,Kansas,216312,9.8 (0.39)
17,Kentucky,395633,11.5 (0.65)
18,Louisiana,276711,7.8 (0.53)
19,Maine,115621,10.6 (0.47)
20,Maryland,420686,8.9 (0.34)
21,Massachusetts,592048,10.7 (0.50)
22,Michigan,859534,11.0 (0.50)
23,Minnesota,369238,8.5 (0.28)
24,Mississippi,201273,8.9 (0.47)
25,Missouri,441777,9.3 (0.42)
26,Montana,89552,10.6 (0.49)
27,Nebraska,114104,7.8 (0.34)
28,Nevada,230431,9.5 (0.78)
29,New Hampshire,127113,11.5 (0.56)
30,New Jersey,598649,8.7 (0.35)
31,New Mexico,162657,10.1 (0.58)
32,New York,1449094,9.5 (0.34)
33,North Carolina,645784,7.8 (0.42)
34,North Dakota,49883,8.6 (0.61)
35,Ohio,895631,9.9 (0.36)
36,Oklahoma,322759,10.8 (0.55)
37,Oregon,356958,10.6 (0.48)
38,Pennsylvania,1032246,10.2 (0.56)
39,Rhode Island,103190,12.1 (0.68)
40,South Carolina,385741,9.4 (0.59)
41,South Dakota,53990,8.1 (0.68)
42,Tennessee,552156,10.3 (0.62)
43,Texas,1617392,7.4 (0.46)
44,Utah,249663,10.8 (0.38)
45,Vermont,54781,10.8 (0.60)
46,Virginia,571162,8.6 (0.39)
47,Washington,579774,9.6 (0.33)
48,West Virginia,175011,12.4 (0.55)
49,Wisconsin,465109,10.2 (0.63)
50,Wyoming,44192,10.0 (0.65)
51,Guam,5369,5.0 (0.96)
52,Puerto Rico,283602,10.4 (0.74)

In [4]:
asthma_2020_data.columns = ['state' , 'asthma_total', 'asthma_perc']

In [5]:
asthma_2020_data

                   state  asthma_total  asthma_perc
0                Alabama        341720   9.0 (0.52)
1                 Alaska         48173   8.9 (0.78)
2                Arizona        550729   9.6 (0.41)
3               Arkansas        210340   9.1 (0.58)
4             California       2848466   9.3 (0.60)
5               Colorado        434782   9.6 (0.35)
6            Connecticut        299193  10.6 (0.51)
7               Delaware         83428  10.8 (0.74)
8   District of Columbia         59464  10.4 (0.71)
9                Florida       1276625   7.3 (0.45)
10               Georgia        736912   9.0 (0.50)
11                Hawaii         96890   8.8 (0.44)
12                 Idaho        127406   9.4 (0.56)
13              Illinois        832244   8.5 (0.59)
14               Indiana        497539   9.6 (0.39)
15                  Iowa        220085   9.1 (0.36)
16                Kansas        216312   9.8 (0.39)
17              Kentucky        395633  11.5 (0.65)
18             Louisiana        276711   7.8 (0.53)
19                 Maine        115621  10.6 (0.47)
20              Maryland        420686   8.9 (0.34)
21         Massachusetts        592048  10.7 (0.50)
22              Michigan        859534  11.0 (0.50)
23             Minnesota        369238   8.5 (0.28)
24           Mississippi        201273   8.9 (0.47)
25              Missouri        441777   9.3 (0.42)
26               Montana         89552  10.6 (0.49)
27              Nebraska        114104   7.8 (0.34)
28                Nevada        230431   9.5 (0.78)
29         New Hampshire        127113  11.5 (0.56)
30            New Jersey        598649   8.7 (0.35)
31            New Mexico        162657  10.1 (0.58)
32              New York       1449094   9.5 (0.34)
33        North Carolina        645784   7.8 (0.42)
34          North Dakota         49883   8.6 (0.61)
35                  Ohio        895631   9.9 (0.36)
36              Oklahoma        322759  10.8 (0.55)
37                Oregon        356958  10.6 (0.48)
38          Pennsylvania       1032246  10.2 (0.56)
39          Rhode Island        103190  12.1 (0.68)
40        South Carolina        385741   9.4 (0.59)
41          South Dakota         53990   8.1 (0.68)
42             Tennessee        552156  10.3 (0.62)
43                 Texas       1617392   7.4 (0.46)
44                  Utah        249663  10.8 (0.38)
45               Vermont         54781  10.8 (0.60)
46              Virginia        571162   8.6 (0.39)
47            Washington        579774   9.6 (0.33)
48         West Virginia        175011  12.4 (0.55)
49             Wisconsin        465109  10.2 (0.63)
50               Wyoming         44192  10.0 (0.65)
51                  Guam          5369   5.0 (0.96)
52           Puerto Rico        283602  10.4 (0.74)

In [6]:
asthma_2020_data['asthma_perc'] = asthma_2020_data['asthma_perc'].str[:-7]

In [10]:
asthma_2020_data['year'] = '2020'

In [8]:
asthma_2020_data = asthma_2020_data.drop([8,51,52]).reset_index(drop=True)

In [11]:
asthma_2020_data

             state  asthma_total asthma_perc  year
0          Alabama        341720         9.0  2020
1           Alaska         48173         8.9  2020
2          Arizona        550729         9.6  2020
3         Arkansas        210340         9.1  2020
4       California       2848466         9.3  2020
5         Colorado        434782         9.6  2020
6      Connecticut        299193        10.6  2020
7         Delaware         83428        10.8  2020
8          Florida       1276625         7.3  2020
9          Georgia        736912         9.0  2020
10          Hawaii         96890         8.8  2020
11           Idaho        127406         9.4  2020
12        Illinois        832244         8.5  2020
13         Indiana        497539         9.6  2020
14            Iowa        220085         9.1  2020
15          Kansas        216312         9.8  2020
16        Kentucky        395633        11.5  2020
17       Louisiana        276711         7.8  2020
18           Maine        115621        10.6  2020
19        Maryland        420686         8.9  2020
20   Massachusetts        592048        10.7  2020
21        Michigan        859534        11.0  2020
22       Minnesota        369238         8.5  2020
23     Mississippi        201273         8.9  2020
24        Missouri        441777         9.3  2020
25         Montana         89552        10.6  2020
26        Nebraska        114104         7.8  2020
27          Nevada        230431         9.5  2020
28   New Hampshire        127113        11.5  2020
29      New Jersey        598649         8.7  2020
30      New Mexico        162657        10.1  2020
31        New York       1449094         9.5  2020
32  North Carolina        645784         7.8  2020
33    North Dakota         49883         8.6  2020
34            Ohio        895631         9.9  2020
35        Oklahoma        322759        10.8  2020
36          Oregon        356958        10.6  2020
37    Pennsylvania       1032246        10.2  2020
38    Rhode Island        103190        12.1  2020
39  South Carolina        385741         9.4  2020
40    South Dakota         53990         8.1  2020
41       Tennessee        552156        10.3  2020
42           Texas       1617392         7.4  2020
43            Utah        249663        10.8  2020
44         Vermont         54781        10.8  2020
45        Virginia        571162         8.6  2020
46      Washington        579774         9.6  2020
47   West Virginia        175011        12.4  2020
48       Wisconsin        465109        10.2  2020
49         Wyoming         44192        10.0  2020

In [12]:
asthma_2019_data = pd.read_csv('../data/asthma_2019.csv')

In [13]:
asthma_2019_data.columns = ['state' , 'asthma_total', 'asthma_perc']

In [14]:
asthma_2019_data['asthma_perc'] = asthma_2019_data['asthma_perc'].str[:-7]

In [15]:
asthma_2019_data['year'] = '2019'

In [16]:
asthma_2019_data = asthma_2019_data.drop([8,51,52]).reset_index(drop=True)

In [17]:
asthma_2019_data

             state asthma_total asthma_perc  year
0          Alabama      360,965         9.5  2019
1           Alaska       54,239         9.9  2019
2          Arizona      544,394         9.7  2019
3         Arkansas      215,095         9.3  2019
4       California    2,405,797         7.8  2019
5         Colorado      434,603         9.7  2019
6      Connecticut      297,971        10.5  2019
7         Delaware       75,119         9.8  2019
8          Florida    1,292,568         7.4  2019
9          Georgia      620,794         7.7  2019
10          Hawaii      106,413         9.6  2019
11           Idaho      131,709        10.0  2019
12        Illinois      808,461         8.2  2019
13         Indiana      499,841         9.8  2019
14            Iowa      194,614         8.0  2019
15          Kansas      217,474         9.9  2019
16        Kentucky      326,678         9.5  2019
17       Louisiana      280,621         7.9  2019
18           Maine      127,896        11.8  2019
19        Maryland      424,051         9.0  2019
20   Massachusetts      570,379        10.3  2019
21        Michigan      867,732        11.1  2019
22       Minnesota      358,668         8.3  2019
23     Mississippi      225,468         9.9  2019
24        Missouri      479,037        10.1  2019
25         Montana       83,280        10.0  2019
26        Nebraska      116,768         8.0  2019
27          Nevada      224,825         9.4  2019
28   New Hampshire      119,305        10.8  2019
29      New Jersey                          2019
30      New Mexico      134,715         8.4  2019
31        New York    1,419,951         9.3  2019
32  North Carolina      681,689         8.3  2019
33    North Dakota       47,369         8.1  2019
34            Ohio    1,009,034        11.1  2019
35        Oklahoma      302,947        10.2  2019
36          Oregon      369,735        11.1  2019
37    Pennsylvania    1,104,033        10.9  2019
38    Rhode Island       94,817        11.2  2019
39  South Carolina      376,358         9.4  2019
40    South Dakota       56,510         8.5  2019
41       Tennessee      463,655         8.8  2019
42           Texas    1,532,311         7.1  2019
43            Utah      223,768         9.9  2019
44         Vermont       59,140        11.6  2019
45        Virginia      586,339         8.8  2019
46      Washington      590,642         9.9  2019
47   West Virginia      164,016        11.5  2019
48       Wisconsin      460,075        10.2  2019
49         Wyoming       41,968         9.5  2019

In [18]:
asthma_2018_data = pd.read_csv('../data/asthma_2018.csv')

In [19]:
asthma_2018_data.columns = ['state' , 'asthma_total', 'asthma_perc']

In [20]:
asthma_2018_data['asthma_perc'] = asthma_2018_data['asthma_perc'].str[:-7]

In [21]:
asthma_2018_data['year'] = '2018'

In [22]:
asthma_2018_data = asthma_2018_data.drop([8,51,52]).reset_index(drop=True)

In [23]:
asthma_2018_data

             state  asthma_total asthma_perc  year
0          Alabama        394634        10.5  2018
1           Alaska         50685         9.2  2018
2          Arizona        545104        10.0  2018
3         Arkansas        225853         9.8  2018
4       California       2607598         8.5  2018
5         Colorado        399357         9.1  2018
6      Connecticut        290278        10.3  2018
7         Delaware         77035        10.1  2018
8          Florida       1495632         8.7  2018
9          Georgia        714569         8.9  2018
10          Hawaii        104368         9.3  2018
11           Idaho        111954         8.6  2018
12        Illinois        860007         8.7  2018
13         Indiana        509651        10.0  2018
14            Iowa        190960         7.9  2018
15          Kansas        214698         9.8  2018
16        Kentucky        395345        11.5  2018
17       Louisiana        316423         8.9  2018
18           Maine        132126        12.3  2018
19        Maryland        439909         9.3  2018
20   Massachusetts        558435        10.2  2018
21        Michigan        872519        11.2  2018
22       Minnesota        357232         8.3  2018
23     Mississippi        218223         9.7  2018
24        Missouri        444334         9.4  2018
25         Montana         82660        10.0  2018
26        Nebraska        128793         8.9  2018
27          Nevada        186787         8.0  2018
28   New Hampshire        128307        11.8  2018
29      New Jersey        593242         8.4  2018
30      New Mexico        157177         9.9  2018
31        New York       1578011        10.1  2018
32  North Carolina        757790         9.4  2018
33    North Dakota         46996         8.2  2018
34            Ohio        854186         9.4  2018
35        Oklahoma        307581        10.3  2018
36          Oregon        383340        11.6  2018
37    Pennsylvania       1012588        10.0  2018
38    Rhode Island        101251        11.9  2018
39  South Carolina        360353         9.1  2018
40    South Dakota         51652         7.9  2018
41       Tennessee        513084         9.8  2018
42           Texas       1572815         7.4  2018
43            Utah        206360         9.3  2018
44         Vermont         60216        12.0  2018
45        Virginia        563510         8.5  2018
46      Washington        558951         9.6  2018
47   West Virginia        175368        12.3  2018
48       Wisconsin        408318         9.0  2018
49         Wyoming         38099         8.7  2018

In [24]:
asthma_2017_data = pd.read_csv('../data/asthma_2017.csv')

In [25]:
asthma_2017_data.columns = ['state' , 'asthma_total', 'asthma_perc']

In [ ]:
#asthma_2017_data['asthma_perc'] = asthma_2017_data['asthma_perc'].str[:-7]

In [26]:
asthma_2017_data['year'] = '2017'

In [27]:
asthma_2017_data = asthma_2017_data.drop([8,51,52]).reset_index(drop=True)

In [28]:
asthma_2017_data

             state  asthma_total  asthma_perc  year
0          Alabama        409623         10.9  2017
1           Alaska         46863          8.4  2017
2          Arizona        529155          9.8  2017
3         Arkansas        219001          9.6  2017
4       California       2398304          7.9  2017
5         Colorado        404012          9.3  2017
6      Connecticut        299336         10.7  2017
7         Delaware         79827         10.6  2017
8          Florida       1258262          7.5  2017
9          Georgia        663053          8.4  2017
10          Hawaii        109177          9.8  2017
11           Idaho        113842          9.0  2017
12        Illinois        808252          8.2  2017
13         Indiana        509205         10.0  2017
14            Iowa        223269          9.3  2017
15          Kansas        199738          9.1  2017
16        Kentucky        367763         10.7  2017
17       Louisiana        319238          9.0  2017
18           Maine        119995         11.2  2017
19        Maryland        440338          9.4  2017
20   Massachusetts        621312         11.5  2017
21        Michigan        837016         10.8  2017
22       Minnesota        310955          7.3  2017
23     Mississippi        187772          8.3  2017
24        Missouri        442086          9.4  2017
25         Montana         74843          9.1  2017
26        Nebraska        118181          8.2  2017
27          Nevada        240247         10.4  2017
28   New Hampshire        142205         13.2  2017
29      New Jersey        600483          8.6  2017
30      New Mexico        165265         10.5  2017
31        New York       1426161          9.2  2017
32  North Carolina        730767          9.2  2017
33    North Dakota         50524          8.6  2017
34            Ohio        888520          9.9  2017
35        Oklahoma        285215          9.6  2017
36          Oregon        353411         10.9  2017
37    Pennsylvania       1021687         10.1  2017
38    Rhode Island        103853         12.3  2017
39  South Carolina        361086          9.2  2017
40    South Dakota         48077          7.3  2017
41       Tennessee        517735         10.0  2017
42           Texas       1543064          7.3  2017
43            Utah        192523          8.9  2017
44         Vermont         59012         11.8  2017
45        Virginia        581200          8.9  2017
46      Washington        603962         10.5  2017
47   West Virginia        182240         12.7  2017
48       Wisconsin        428991          9.5  2017
49         Wyoming         40805          9.1  2017

In [29]:
asthma_2016_data = pd.read_csv('../data/asthma_2016.csv')

In [30]:
asthma_2016_data.columns = ['state' , 'asthma_total', 'asthma_perc']

In [ ]:
#asthma_2016_data['asthma_perc'] = asthma_2016_data['asthma_perc'].str[:-7]

In [31]:
asthma_2016_data['year'] = '2016'

In [32]:
asthma_2016_data = asthma_2016_data.drop([8,50,51,52]).reset_index(drop=True)

In [33]:
asthma_2016_data

             state  asthma_total  asthma_perc  year
0          Alabama        365041          9.7  2016
1           Alaska         48398          8.8  2016
2          Arizona        491794          9.4  2016
3         Arkansas        193863          8.5  2016
4       California       2366008          7.8  2016
5         Colorado        374598          8.8  2016
6      Connecticut        295601         10.5  2016
7         Delaware         63617          8.5  2016
8          Florida       1109768          6.7  2016
9          Georgia        666285          8.5  2016
10          Hawaii        120293         10.7  2016
11           Idaho        115109          9.3  2016
12        Illinois        879704          8.9  2016
13         Indiana        514349         10.2  2016
14            Iowa        187872          7.8  2016
15          Kansas        193078          8.8  2016
16        Kentucky        394686         11.6  2016
17       Louisiana        297349          8.4  2016
18           Maine        130992         12.2  2016
19        Maryland        439666          9.4  2016
20   Massachusetts        560739         10.3  2016
21        Michigan        841111         10.9  2016
22       Minnesota        321439          7.6  2016
23     Mississippi        181044          8.0  2016
24        Missouri        463150          9.9  2016
25         Montana         69403          8.5  2016
26        Nebraska        118932          8.3  2016
27          Nevada        179986          7.9  2016
28   New Hampshire        121566         11.4  2016
29      New Jersey        573506          8.2  2016
30      New Mexico        185678         11.8  2016
31        New York       1474062          9.5  2016
32  North Carolina        630864          8.0  2016
33    North Dakota         53028          9.0  2016
34            Ohio        873284          9.7  2016
35        Oklahoma        293910         10.0  2016
36          Oregon        335445         10.5  2016
37    Pennsylvania       1070258         10.6  2016
38    Rhode Island         90375         10.7  2016
39  South Carolina        340518          8.8  2016
40    South Dakota         40253          6.2  2016
41       Tennessee        559423         10.9  2016
42           Texas       1584264          7.6  2016
43            Utah        175360          8.3  2016
44         Vermont         51211         10.2  2016
45        Virginia        560419          8.6  2016
46      Washington        538758          9.6  2016
47   West Virginia        171816         11.8  2016
48       Wisconsin        381108          8.5  2016
49  Virgin Islands          5011          6.3  2016

In [34]:
asthma_2015_data = pd.read_csv('../data/asthma_2015.csv')

In [35]:
asthma_2015_data.columns = ['state' , 'asthma_total', 'asthma_perc']

In [ ]:
#asthma_2015_data['asthma_perc'] = asthma_2015_data['asthma_perc'].str[:-7]

In [36]:
asthma_2015_data['year'] = '2015'

In [37]:
asthma_2015_data = asthma_2015_data.drop([8,51,52]).reset_index(drop=True)

In [38]:
asthma_2015_data

             state  asthma_total  asthma_perc  year
0          Alabama        370128          9.9  2015
1           Alaska         50792          9.2  2015
2          Arizona        479791          9.3  2015
3         Arkansas        226691         10.1  2015
4       California       2290491          7.7  2015
5         Colorado        375709          9.0  2015
6      Connecticut        294997         10.5  2015
7         Delaware         67950          9.2  2015
8          Florida       1197036          7.4  2015
9          Georgia        708933          9.2  2015
10          Hawaii        111142         10.0  2015
11           Idaho        110735          9.1  2015
12        Illinois        828784          8.4  2015
13         Indiana        512557         10.2  2015
14            Iowa        181072          7.6  2015
15          Kansas        188514          8.7  2015
16        Kentucky        403499         11.9  2015
17       Louisiana        288759          8.2  2015
18           Maine        120034         11.2  2015
19        Maryland        408914          8.8  2015
20   Massachusetts        547096         10.2  2015
21        Michigan        781517         10.2  2015
22       Minnesota        310116          7.4  2015
23     Mississippi        175845          7.8  2015
24        Missouri        448562          9.6  2015
25         Montana         71210          8.9  2015
26        Nebraska        101854          7.2  2015
27          Nevada        179450          8.1  2015
28   New Hampshire        107224         10.1  2015
29      New Jersey        501572          7.2  2015
30      New Mexico        155818          9.9  2015
31        New York       1532508          9.9  2015
32  North Carolina        633683          8.2  2015
33    North Dakota         52567          9.0  2015
34            Ohio        896185         10.0  2015
35        Oklahoma        279781          9.5  2015
36          Oregon        351437         11.2  2015
37    Pennsylvania       1020306         10.2  2015
38    Rhode Island         91992         11.0  2015
39  South Carolina        309943          8.2  2015
40    South Dakota         54406          8.4  2015
41       Tennessee        455946          9.0  2015
42           Texas       1528177          7.6  2015
43            Utah        187377          9.0  2015
44         Vermont         55265         11.0  2015
45        Virginia        513676          7.9  2015
46      Washington        516400          9.4  2015
47   West Virginia        158528         10.8  2015
48       Wisconsin        426296          9.5  2015
49         Wyoming         35482          8.0  2015

In [39]:
asthma_2014_data = pd.read_csv('../data/asthma_2014.csv')

In [40]:
asthma_2014_data.columns = ['state' , 'asthma_total', 'asthma_perc']

In [42]:
asthma_2014_data['year'] = '2014'

In [43]:
asthma_2014_data = asthma_2014_data.drop([8,51,52]).reset_index(drop=True)

In [44]:
asthma_2014_data

             state  asthma_total  asthma_perc  year
0          Alabama        353847          9.5  2014
1           Alaska         44865          8.1  2014
2          Arizona        484115          9.6  2014
3         Arkansas        197478          8.8  2014
4       California       2279568          7.8  2014
5         Colorado        342994          8.4  2014
6      Connecticut        257311          9.2  2014
7         Delaware         63855          8.8  2014
8          Florida       1268162          8.0  2014
9          Georgia        626931          8.3  2014
10          Hawaii        102093          9.2  2014
11           Idaho        103201          8.6  2014
12        Illinois        898521          9.1  2014
13         Indiana        532909         10.7  2014
14            Iowa        201266          8.5  2014
15          Kansas        189350          8.7  2014
16        Kentucky        402690         11.9  2014
17       Louisiana        270261          7.7  2014
18           Maine        122881         11.6  2014
19        Maryland        393571          8.5  2014
20   Massachusetts        636176         12.0  2014
21        Michigan        831656         10.9  2014
22       Minnesota        350818          8.4  2014
23     Mississippi        166117          7.4  2014
24        Missouri        450530          9.7  2014
25         Montana         76683          9.6  2014
26        Nebraska        108805          7.7  2014
27          Nevada        172343          8.1  2014
28   New Hampshire        107371         10.2  2014
29      New Jersey        570238          8.3  2014
30      New Mexico        154861          9.9  2014
31        New York       1642598         10.7  2014
32  North Carolina        592279          7.8  2014
33    North Dakota         50533          8.7  2014
34            Ohio        957711         10.8  2014
35        Oklahoma        284303          9.7  2014
36          Oregon        314501         10.2  2014
37    Pennsylvania        979527          9.8  2014
38    Rhode Island         89462         10.8  2014
39  South Carolina        309409          8.3  2014
40    South Dakota         48213          7.5  2014
41       Tennessee        448189          8.9  2014
42           Texas       1312573          6.7  2014
43            Utah        178514          8.7  2014
44         Vermont         56644         11.3  2014
45        Virginia        556765          8.6  2014
46      Washington        500993          9.3  2014
47   West Virginia        161534         11.0  2014
48       Wisconsin        456134         10.3  2014
49         Wyoming         37351          8.3  2014

In [45]:
asthma_2021_data = pd.read_csv('../data/asthma_adults_2021.csv')

In [46]:
asthma_2021_data.columns = ['state' , 'asthma_total', 'asthma_perc']

In [47]:
asthma_2021_data['asthma_perc'] = asthma_2021_data['asthma_perc'].str[:-7]

In [48]:
asthma_2021_data['year'] = '2021'

In [49]:
asthma_2021_data = asthma_2021_data.drop([8,51,52]).reset_index(drop=True)

In [50]:
asthma_2021_data

             state asthma_total asthma_perc  year
0          Alabama      394,199        10.1  2021
1           Alaska       49,453         9.0  2021
2          Arizona      519,749         9.4  2021
3         Arkansas      207,857         9.0  2021
4       California    2,694,396         8.8  2021
5         Colorado      476,932        10.4  2021
6      Connecticut      300,910        10.5  2021
7         Delaware       77,695         9.8  2021
8          Florida                          2021
9          Georgia      772,663         9.4  2021
10          Hawaii       92,849         8.1  2021
11           Idaho      138,516         9.8  2021
12        Illinois      860,395         8.7  2021
13         Indiana      536,397        10.3  2021
14            Iowa      224,466         9.1  2021
15          Kansas      235,953        10.6  2021
16        Kentucky      408,801        11.7  2021
17       Louisiana      344,842         9.7  2021
18           Maine      138,396        12.5  2021
19        Maryland      451,158         9.4  2021
20   Massachusetts      661,306        11.7  2021
21        Michigan      908,568        11.5  2021
22       Minnesota      387,219         8.8  2021
23     Mississippi      226,646        10.0  2021
24        Missouri      449,253         9.4  2021
25         Montana       83,698         9.7  2021
26        Nebraska      122,491         8.2  2021
27          Nevada      223,954         9.1  2021
28   New Hampshire      136,025        12.1  2021
29      New Jersey      646,963         8.9  2021
30      New Mexico      173,518        10.6  2021
31        New York    1,563,485         9.8  2021
32  North Carolina      717,344         8.7  2021
33    North Dakota       50,012         8.4  2021
34            Ohio      955,568        10.4  2021
35        Oklahoma      326,087        10.9  2021
36          Oregon      377,851        11.2  2021
37    Pennsylvania    1,062,292        10.3  2021
38    Rhode Island      111,498        12.6  2021
39  South Carolina      372,607         9.2  2021
40    South Dakota       55,927         8.3  2021
41       Tennessee      558,276        10.3  2021
42           Texas    1,854,306         8.4  2021
43            Utah      231,080         9.7  2021
44         Vermont       61,465        11.8  2021
45        Virginia      661,945         9.8  2021
46      Washington      641,131        10.5  2021
47   West Virginia      171,141        12.1  2021
48       Wisconsin      498,228        10.8  2021
49         Wyoming       43,188         9.7  2021
50  Virgin Islands        3,920         5.0  2021

In [52]:
asthma_years_new = pd.concat([asthma_2021_data, asthma_2020_data, asthma_2019_data, asthma_2018_data, asthma_2017_data, asthma_2016_data, asthma_2015_data, asthma_2014_data])

In [53]:
asthma_years_new.to_csv('asthma_years_new.csv', index=False)

In [3]:
asthma= pd.read_csv('../data/asthma_years_new.csv')

In [8]:
air_final = pd.read_csv('../data/aqi_years_sana.csv')

In [5]:
asthma

             state asthma_total  asthma_perc  year
0          Alabama      394,199         10.1  2021
1           Alaska       49,453          9.0  2021
2          Arizona      519,749          9.4  2021
3         Arkansas      207,857          9.0  2021
4       California    2,694,396          8.8  2021
..             ...          ...          ...   ...
396       Virginia       556765          8.6  2014
397     Washington       500993          9.3  2014
398  West Virginia       161534         11.0  2014
399      Wisconsin       456134         10.3  2014
400        Wyoming        37351          8.3  2014

[401 rows x 4 columns]

In [9]:
air_final

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10,Region
0,Alabama,Baldwin,2021,280,264,16,0,0,0,0,61,48,35,0,0,221,59,0,South
1,Alabama,Clay,2021,110,101,9,0,0,0,0,67,47,27,0,0,0,110,0,South
2,Alabama,DeKalb,2021,361,331,30,0,0,0,0,84,49,36,0,0,320,41,0,South
3,Alabama,Elmore,2021,241,238,3,0,0,0,0,87,44,32,0,0,241,0,0,South
4,Alabama,Etowah,2021,286,253,33,0,0,0,0,77,51,36,0,0,213,73,0,South
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8178,Wyoming,Sublette,2014,365,286,79,0,0,0,0,100,61,45,0,0,354,11,0,West
8179,Wyoming,Sweetwater,2014,365,247,110,6,2,0,0,197,71,46,0,0,304,2,59,West
8180,Wyoming,Teton,2014,365,320,45,0,0,0,0,97,51,42,0,0,360,4,1,West
8181,Wyoming,Uinta,2014,365,331,34,0,0,0,0,77,50,42,0,2,359,0,4,West
8182,Wyoming,Weston,2014,356,322,34,0,0,0,0,77,50,41,0,0,356,0,0,West

In [12]:
new = pd.merge(air_final, asthma, left_on = 'State', right_on = 'state')

In [13]:
new

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,...,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10,Region,state,asthma_total,asthma_perc,year
0,Alabama,Baldwin,2021,280,264,16,0,0,0,0,...,0,0,221,59,0,South,Alabama,"394,199",10.1,2021
1,Alabama,Baldwin,2021,280,264,16,0,0,0,0,...,0,0,221,59,0,South,Alabama,341720,9.0,2020
2,Alabama,Baldwin,2021,280,264,16,0,0,0,0,...,0,0,221,59,0,South,Alabama,"360,965",9.5,2019
3,Alabama,Baldwin,2021,280,264,16,0,0,0,0,...,0,0,221,59,0,South,Alabama,394634,10.5,2018
4,Alabama,Baldwin,2021,280,264,16,0,0,0,0,...,0,0,221,59,0,South,Alabama,409623,10.9,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64368,Wyoming,Weston,2014,356,322,34,0,0,0,0,...,0,0,356,0,0,West,Wyoming,"41,968",9.5,2019
64369,Wyoming,Weston,2014,356,322,34,0,0,0,0,...,0,0,356,0,0,West,Wyoming,38099,8.7,2018
64370,Wyoming,Weston,2014,356,322,34,0,0,0,0,...,0,0,356,0,0,West,Wyoming,40805,9.1,2017
64371,Wyoming,Weston,2014,356,322,34,0,0,0,0,...,0,0,356,0,0,West,Wyoming,35482,8.0,2015
64372,Wyoming,Weston,2014,356,322,34,0,0,0,0,...,0,0,356,0,0,West,Wyoming,37351,8.3,2014

In [14]:
new = new.drop(columns =['state'])

In [15]:
new

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,...,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10,Region,asthma_total,asthma_perc,year
0,Alabama,Baldwin,2021,280,264,16,0,0,0,0,...,35,0,0,221,59,0,South,"394,199",10.1,2021
1,Alabama,Baldwin,2021,280,264,16,0,0,0,0,...,35,0,0,221,59,0,South,341720,9.0,2020
2,Alabama,Baldwin,2021,280,264,16,0,0,0,0,...,35,0,0,221,59,0,South,"360,965",9.5,2019
3,Alabama,Baldwin,2021,280,264,16,0,0,0,0,...,35,0,0,221,59,0,South,394634,10.5,2018
4,Alabama,Baldwin,2021,280,264,16,0,0,0,0,...,35,0,0,221,59,0,South,409623,10.9,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64368,Wyoming,Weston,2014,356,322,34,0,0,0,0,...,41,0,0,356,0,0,West,"41,968",9.5,2019
64369,Wyoming,Weston,2014,356,322,34,0,0,0,0,...,41,0,0,356,0,0,West,38099,8.7,2018
64370,Wyoming,Weston,2014,356,322,34,0,0,0,0,...,41,0,0,356,0,0,West,40805,9.1,2017
64371,Wyoming,Weston,2014,356,322,34,0,0,0,0,...,41,0,0,356,0,0,West,35482,8.0,2015
64372,Wyoming,Weston,2014,356,322,34,0,0,0,0,...,41,0,0,356,0,0,West,37351,8.3,2014

In [16]:
new.to_csv('new.csv', index =False)

In [20]:
air_final

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10,Region
0,Alabama,Baldwin,2021,280,264,16,0,0,0,0,61,48,35,0,0,221,59,0,South
1,Alabama,Clay,2021,110,101,9,0,0,0,0,67,47,27,0,0,0,110,0,South
2,Alabama,DeKalb,2021,361,331,30,0,0,0,0,84,49,36,0,0,320,41,0,South
3,Alabama,Elmore,2021,241,238,3,0,0,0,0,87,44,32,0,0,241,0,0,South
4,Alabama,Etowah,2021,286,253,33,0,0,0,0,77,51,36,0,0,213,73,0,South
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8178,Wyoming,Sublette,2014,365,286,79,0,0,0,0,100,61,45,0,0,354,11,0,West
8179,Wyoming,Sweetwater,2014,365,247,110,6,2,0,0,197,71,46,0,0,304,2,59,West
8180,Wyoming,Teton,2014,365,320,45,0,0,0,0,97,51,42,0,0,360,4,1,West
8181,Wyoming,Uinta,2014,365,331,34,0,0,0,0,77,50,42,0,2,359,0,4,West
8182,Wyoming,Weston,2014,356,322,34,0,0,0,0,77,50,41,0,0,356,0,0,West

In [22]:
tennessee = air_final.loc[air_final['State'] == 'Tennessee']

In [23]:
tennessee

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10,Region
789,Tennessee,Anderson,2021,235,219,16,0,0,0,0,87,49,38,0,0,235,0,0,South
790,Tennessee,Blount,2021,365,292,71,2,0,0,0,107,58,41,0,0,256,109,0,South
791,Tennessee,Claiborne,2021,357,339,18,0,0,0,0,71,46,34,0,0,357,0,0,South
792,Tennessee,Davidson,2021,365,237,124,4,0,0,0,116,66,44,0,21,106,238,0,South
793,Tennessee,DeKalb,2021,363,349,14,0,0,0,0,84,46,35,0,0,363,0,0,South
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7990,Tennessee,Sullivan,2014,365,307,58,0,0,0,0,90,56,37,5,89,216,55,0,South
7991,Tennessee,Sumner,2014,280,216,63,1,0,0,0,122,66,42,0,0,217,63,0,South
7992,Tennessee,Union,2014,365,355,10,0,0,0,0,74,37,19,0,0,0,0,365,South
7993,Tennessee,Williamson,2014,234,210,23,1,0,0,0,105,51,38,0,0,234,0,0,South
7994,Tennessee,Wilson,2014,238,214,24,0,0,0,0,87,51,39,0,0,238,0,0,South

In [25]:
tennessee.to_csv('tennessee.csv', index=False)